<section ng-controller="ProtocoldetailsCtrl">
    <toaster-container toaster-options="{'body-output-type':'trustedHtml'}"></toaster-container>
    <div class="section-header">
        <ol class="breadcrumb">
            <li class="active">Protocol Details</li>
        </ol>
        <div class="row text-right">
            <!--<button type="button" class="btn btn-info" ng-click="exportPdf()" style="margin-top:-50px;margin-right:10px"><i class="fa fa-file-pdf-o"></i> Export to PDF</button>-->
            <div class="dropdown" style="margin-top:-30px;margin-right:30px">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuTop" data-toggle="dropdown" aria-expanded="true">Actions
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right animation-dock text-left" role="menu" aria-labelledby="dropdownMenuTop">
                    <li>
                        <a ng-show="isChairman && details.status === 'REVIEW'" ng-click="updateProtocolDetails('status','APPROVED')"><i class="fa fa-check"></i> Approve</a>
                    </li>
                    <li>
                        <a ng-show="isEditable && details.status === 'PENDING'" ng-click="updateProtocolDetails('status','PRE_REVIEW')"><i class="fa fa-check"></i> Complete</a>
                    </li>
                    <li>
                        <a ng-show="isChairman && (details.status === 'PRE_REVIEW' || details.status === 'PENDING')" ng-click="updateProtocolDetails('status','REVIEW')"><i class="fa fa-check"></i> Review</a>
                    </li>
                    <li>
                        <a ng-click="exportPdf()"><i class="fa fa-file-pdf-o"></i> Export to PDF</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section-body contain-lg">
        <div class="row" id="mainContent">
            <div class="col-md-12">
                <div class="panel-group" id="accordion1">
                    <div class="card">
                        <div class="card-head style-primary-light">
                            <div class="tools">
                                <a class="btn btn-flat hidden-xs" ui-sref="protocol-list"><span class="glyphicon glyphicon-arrow-left"></span> &nbsp;Back to list</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-sm-4">P ID</div>
                                        <div class="col-sm-8">
                                            <b>{{details.id | zpad:5}}</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-sm-4">Status</div>
                                        <div class="col-sm-8">
                                            <b ng-class="{'text-info': details.status == 'REVIEW' || details.status == 'PRE_REVIEW' , 'text-success': details.status == 'APPROVED','text-warning': details.status == 'PENDING', 'text-danger': details.status == 'DISCARDED'}">
                                            <i class="md" ng-class="{'md-done': details.status == 'REVIEW' || details.status == 'PRE_REVIEW' , 'md-done-all': details.status == 'APPROVED','md-warning': details.status == 'PENDING', 'md-error': details.status == 'DISCARDED'}"></i>{{details.status}}</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-sm-4">Proposal #<span ng-show="isChairman" class="text-danger">*</span></div>
                                        <div class="col-sm-8">
                                            <b editable-text="details.proposalNumber" ng-show="isChairman && details.status === 'PRE_REVIEW'" onaftersave="updateProtocolDetails('proposalNumber',$data)">{{ details.proposalNumber || "Enter Proposal No." }}</b>
                                            <b ng-show="!isChairman || details.status !== 'PRE_REVIEW'">{{ details.proposalNumber || '________'}}</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-sm-4">Approval Date</div>
                                        <div class="col-sm-8">
                                            <!--                                            <b editable-date="details.approvalDate" ng-show="isChairman" onaftersave="updateProtocolDetails('approvalDate',$data)">{{details.approvalDate|| "Enter Approval date" | date:'MM/dd/yyyy' }}</b>-->
                                            <b>{{details.approvalDate || '________' | date:'MM/dd/yyyy'}}</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-sm-4">Expiration Date</div>
                                        <div class="col-sm-8">
                                            <!--                                            <b editable-date="details.expirationDate" ng-show="isChairman" onaftersave="updateProtocolDetails('expirationDate',$data)">{{details.expirationDate || "Enter Expiration date" | date:'MM/dd/yyyy'}}</b>-->
                                            <b>{{ details.expirationDate || '________' | date:'MM/dd/yyyy'}}</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <b>Annual Review Due</b>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-sm-4">1st Year</div>
                                        <div class="col-sm-8">
                                            <!--                                            <b editable-date="details.annualReviewDueFirstYear" ng-show="isChairman" onaftersave="updateProtocolDetails('annualReviewDueFirstYear',$data)">{{ details.annualReviewDueFirstYear || "Enter Date" | date:'MM/dd/yyyy'}}</b>-->
                                            <b>{{ details.annualReviewDueFirstYear || '________' | date:'MM/dd/yyyy'}}</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-sm-4">2nd Year</div>
                                        <div class="col-sm-8">
                                            <!--                                            <b editable-date="details.annualReviewDueSecondYear" ng-show="isChairman" onaftersave="updateProtocolDetails('annualReviewDueSecondYear',$data)">{{details.annualReviewDueSecondYear || "Enter date" | date:'MM/dd/yyyy'}}</b>-->
                                            <b>{{ details.annualReviewDueSecondYear || '________' | date:'MM/dd/yyyy'}}</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end .card-body -->
                    </div>
                    <div class="card panel style-primary-light">
                        <div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordionAdministration"
                            aria-expanded="false">
                        <header>Administrative Data</header>
                        <div class="tools">
                            <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                    <div id="accordionAdministration" class="collapse" aria-expanded="false">
                        <div class="card-body style-default-bright">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-sm-3">PI/RS/LAB</div>
                                        <div class="col-sm-9">
                                            <b ng-show="isChairman && details.status === 'PRE_REVIEW'" editable-select="details.piUser.id" onshow="loadPiUsers()" e-ng-options="g.id as g.firstName  for g in piUsers  | unique:'email'"
                                            onaftersave="updatePi($data)">{{details.piUser.firstName || "Select PI"}} {{details.piUser.lastName}}</b>
                                            <b ng-show="!isChairman || details.status !== 'PRE_REVIEW'">{{details.piUser.firstName || "Not Assigned"}} {{details.piUser.lastName}}</b>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-sm-3">Building/Room</div>
                                        <div class="col-sm-9">
                                            <b editable-text="details.protocolAdministrativeData.building" ng-show="isEditable" onaftersave="updateAdminstrativeData('building',$data)">{{details.protocolAdministrativeData.building || "Enter Building/Room"}}</b>
                                            <b ng-show="!isEditable">
                                            {{ details.protocolAdministrativeData.building}}
                                            </b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-sm-3">Telephone</div>
                                        <div class="col-sm-9">
                                            <b>
                                            {{details.piUser.phoneNumber || "Not Assigned"}}
                                            </b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-sm-3">Fax</div>
                                        <div class="col-sm-9">
                                            <b editable-tel="details.protocolAdministrativeData.fax" ng-show="isEditable" onaftersave="updateAdminstrativeData('fax',$data)"
                                            e-mask="999-999-9999" e-restrict="reject">{{details.protocolAdministrativeData.fax || "Enter Fax"}}</b>
                                            <b ng-show="!isEditable">
                                            {{ details.protocolAdministrativeData.fax}}
                                            </b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-sm-3">Email</div>
                                        <div class="col-sm-9">
                                            <b>
                                            {{details.piUser.email || "Not Assigned"}}
                                            </b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-sm-3">Client<span class="text-danger">*</span></div>
                                        <div class="col-sm-9">
                                            <b editable-text="details.protocolAdministrativeData.client" ng-show="isEditable" onaftersave="updateAdminstrativeData('client',$data)">{{details.protocolAdministrativeData.client || "Enter Client"}}</b>
                                            <b ng-show="!isEditable">
                                            {{ details.protocolAdministrativeData.client}}
                                            </b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-sm-3">Project Title<span class="text-danger">*</span></div>
                                        <div class="col-sm-9">
                                            <b editable-text="details.protocolAdministrativeData.projectTitle" ng-show="isEditable" onaftersave="updateAdminstrativeData('projectTitle',$data)">{{details.protocolAdministrativeData.projectTitle || "Enter Project Title"}}</b>
                                            <b ng-show="!isEditable">
                                            {{details.protocolAdministrativeData.projectTitle}}
                                            </b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="checkbox checkbox-styled">
                                        <label>
                                            <input type="checkbox" value="" ng-model="isInitial" ng-checked ="isInitial"  ng-disabled="!isEditable" ng-change="updateAdminstrativeData('initialSubmission',isInitial)">
                                            <span>Initial Submission</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="checkbox checkbox-styled" >
                                        <label>
                                            <input type="checkbox" value=""  ng-model="isModification" ng-checked="isModification"  ng-disabled="!isEditable" ng-change="updateAdminstrativeData('modification',isModification)">
                                            <span>Modifications</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkbox checkbox-styled">
                                        <label>
                                            <input type="checkbox" value="" ng-model="pSelected" ng-disabled="!isEditable">
                                            <span>Renewal of Proposal Number</span>&nbsp;&nbsp;&nbsp;
                                            <b editable-text="details.protocolAdministrativeData.renewalProposalNumber" ng-show="isEditable && pSelected" onaftersave="updateAdminstrativeData('renewalProposalNumber',$data)">{{details.protocolAdministrativeData.renewalProposalNumber || "Renewal of Proposal Number"}}</b>
                                            <b ng-show="!isEditable && details.protocolAdministrativeData.renewalProposalNumber != ''">
                                            {{details.protocolAdministrativeData.renewalProposalNumber}}
                                            </b>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <label class="text-bold">List the names of all individuals authorized to conduct procedures involving animals under this proposal,</label>
                                <select ui-select2  ng-model="details.protocolAdministrativeData.animalProceduresPersonals" multiple id="animalProceduresPersonalsUsers" ng-change="updateAdminstrativePersonals(details.protocolAdministrativeData.animalProceduresPersonals)"  data-placeholde="Select Role" class="form-control"  ng-disabled="!isEditable">
                                    <option ng-repeat="person in usersList" value="{{person.id}}">{{person.firstName}}  {{person.lastName}}</option>
                                    <option>Others</option>
                                </select>
                            </div>
                            <div class="row">
                                <label class="col-sm-3">PI doing hands-on animal work?</label>
                                <div class="col-sm-9">
                                    <label class="radio-inline radio-styled">
                                        <input type="radio" name="inlineRadioOptions" value="true" ng-checked="details.protocolAdministrativeData.piHandsOnAnimalWork" ng-click="updateAdminstrativeData('piHandsOnAnimalWork',true)"><span>Yes</span>
                                    </label>
                                    <label class="radio-inline radio-styled">
                                        <input type="radio" name="inlineRadioOptions" value="false" ng-checked="!details.protocolAdministrativeData.piHandsOnAnimalWork" ng-click="updateAdminstrativeData('piHandsOnAnimalWork',false)"><span>No</span>
                                    </label>
                                    </div><!--end .col -->
                                </div>
                                <div class="row">
                                    <label class="text-bold">Co-investigator(s): (Maximum three investigators; Include affiliation)</label>
                                    <select ui-select2  ng-model="details.protocolAdministrativeData.coInvestigators" ng-change="updateAdminstrativecoInvestigators(details.protocolAdministrativeData.coInvestigators)" data-placeholde="Select Role" multiple class="form-control" ng-disabled="!isEditable">
                                        <option ng-repeat="person in usersList" value="{{person.id}}" >{{person.firstName}} {{person.lastName}}</option>
                                        <option>Others</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <label class="text-bold">Other Personnel:</label>
                                    <select ui-select2  ng-model="details.protocolAdministrativeData.otherPersonals" ng-change="updateAdminstrativeotherPersonals(details.protocolAdministrativeData.otherPersonals)" data-placeholde="Select Role" multiple class="form-control" ng-disabled="!isEditable">
                                        <option ng-repeat="person in usersList" value="{{person.id}}">{{person.firstName}} {{person.lastName}}</option>
                                        <option>Others</option>
                                    </select>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end .panel -->
                    <div class="card panel style-primary-light">
                        <div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordionAnimals"
                            aria-expanded="false">
                        <header>Animal Requirements</header>
                        <div class="tools">
                            <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                    <div id="accordionAnimals" class="collapse" aria-expanded="false" style="height: 0px;">
                        <div class="section-floating-action-row" ng-show="!isChairman && !isCM" style="margin-top:18px;margin-right:30px">
                            <button class="btn ink-reaction btn-sm btn-floating-action btn-primary-dark" ng-click="AddAnimal()" data-toggle="tooltip"
                            data-placement="top" data-original-title="Add Animal">
                            <i class="md md-add"></i>
                            </button>
                        </div>
                        <div class="card-body" ng-class="{'style-default-bright':$index%2 == 0,'style-default-light':$index%2 == 1}" ng-repeat="animal in details.animalRequirements">
                            <ul class="list divider-full-bleed">
                                <li class="tile">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">Species<span class="text-danger">*</span></div>
                                                <div class="col-md-8">
                                                    <b editable-select="animal.species" e-ng-options="s as s for s in speciesList" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id,'species',$data)">
                                                    {{animal.species || "Select species"}}
                                                    </b>
                                                    <b ng-show="!isEditable">
                                                    {{ animal.species}}
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">Stock/Strain</div>
                                                <div class="col-md-8">
                                                    <b editable-text="animal.strain"  ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id,'strain',$data)">
                                                    {{animal.strain || "Enter Stock/Strain"}}
                                                    </b>
                                                    <b ng-show="!isEditable">
                                                    {{ animal.strain}}
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">Age/Weight/Size</div>
                                                <div class="col-md-8">
                                                    <b editable-text="animal.age" e-pattern ="^\d+(\.\d{1,2})?$" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id,'age',$data)" title="this field allow Numeric values">
                                                    {{animal.age || "Enter Age/Weight/Size"}}
                                                    </b>
                                                    <b ng-show="!isEditable">
                                                    {{ animal.age}}
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">Sex<span class="text-danger">*</span></div>
                                                <div class="col-md-8">
                                                    <b editable-select="animal.sex" e-ng-options="a.name as a.name for a in sexList" ng-show="isEditable"  onaftersave="updateAnimalRequirements(animal.id,'sex',$data)">
                                                    {{animal.sex || "Select sex"}}
                                                    </b>
                                                    <b ng-show="!isEditable">
                                                    {{ animal.sex}}
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">Source(s)</div>
                                                <div class="col-md-8">
                                                    <b editable-text="animal.sources" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id,'sources',$data)">
                                                    {{animal.sources || "Enter Source"}}
                                                    </b>
                                                    <b ng-show="!isEditable">
                                                    {{ animal.sources}}
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">Animal Holding Location(s)</div>
                                                <div class="col-md-8">
                                                    <b editable-text="animal.holdingLocations" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id,'holdingLocations',$data)">
                                                    {{animal.holdingLocations || "Enter Holding Location"}}
                                                    </b>
                                                    <b ng-show="!isEditable">
                                                    {{ animal.holdingLocations}}
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">Animal Procedure Location(s)</div>
                                                <div class="col-md-8">
                                                    <b editable-text="animal.procedureLocations" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id,'procedureLocations',$data)">
                                                    {{animal.procedureLocations || "Enter Procedure Location(s)"}}
                                                    </b>
                                                    <b ng-show="!isEditable">
                                                    {{ animal.procedureLocations}}
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">Bacteriologic/Viral Status</div>
                                                <div class="col-md-8">
                                                    <b editable-select="animal.bacteriologyOrViral" e-ng-options="v.name as v.name for v in viralstatusList" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id,'bacteriologyOrViral',$data)">
                                                    {{animal.bacteriologyOrViral || "Select Bacteriologic/Viral Status"}}
                                                    </b>
                                                    <b ng-show="!isEditable">
                                                    {{ animal.bacteriologic}}
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-12 text-bold">
                                            Special Housing/Care Requirements
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">Special Water</div>
                                                <div class="col-md-8">
                                                    <b editable-text="animal.specialWater" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id, 'specialWater', $data)">
                                                    {{animal.specialWater || "none"}}
                                                    </b>
                                                    <b ng-show="!isEditable">
                                                    {{ animal.specialWater}}
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">Special Diet</div>
                                                <div class="col-md-8">
                                                    <b editable-text="animal.specialDiet" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id, 'specialDiet', $data)">
                                                    {{animal.specialDiet || "none"}}
                                                    </b>
                                                    <b ng-show="!isEditable">
                                                    {{ animal.specialDiet}}
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">Special Bedding</div>
                                                <div class="col-md-8">
                                                    <b editable-text="animal.specialBedding" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id, 'specialBedding', $data)">
                                                    {{animal.specialBedding || "none"}}
                                                    </b>
                                                    <b ng-show="!isEditable">
                                                    {{ animal.specialBedding}}
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-8 col-sm-12">
                                            <div class="row">
                                                <div class="col-md-4">Environmental Requirements</div>
                                                <div class="col-md-4">
                                                    <b editable-number="animal.environmentalRequirementsF" e-min="0" e-max="500" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id, 'environmentalRequirementsF', $data)">
                                                    {{animal.environmentalRequirementsF || "Enter details"}}
                                                    </b>
                                                    <b ng-show="!isEditable">
                                                    {{animal.environmentalRequirementsF}}
                                                    </b><sup>o</sup>F
                                                </div>
                                                <div class="col-md-4">
                                                    <b editable-number="animal.environmentalRequirementsRh"e-min="0" e-max="500" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id, 'environmentalRequirementsRh', $data)">
                                                    {{animal.environmentalRequirementsRh || "Enter details"}}
                                                    </b>
                                                    <b ng-show="!isEditable">
                                                    {{animal.environmentalRequirementsRh}}
                                                    </b>%Rh
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-8 col-sm-12">
                                            <div class="row">
                                                <div class="col-md-4">Light Cycle Requirements:</div>
                                                <div class="col-md-8">
                                                    <b editable-text="animal.lifeCycleRequirementsHoursOn" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id, 'lifeCycleRequirementsHoursOn', $data)">
                                                    {{animal.lifeCycleRequirementsHoursOn || "Enter Hours"}}
                                                    </b>
                                                    <b ng-show="!isEditable">
                                                    {{animal.lifeCycleRequirementsHoursOn}}
                                                    </b> HOURS ON
                                                    <b editable-number="animal.lifeCycleRequirementsHoursOff" e-min="0" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id, 'lifeCycleRequirementsHoursOff', $data)">
                                                    {{animal.lifeCycleRequirementsHoursOff || "Enter Hours"}}
                                                    </b>
                                                    <b ng-show="!isEditable">
                                                    {{animal.lifeCycleRequirementsHoursOff}}
                                                    </b>HOURS OFF
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">Special Lighting</div>
                                                <div class="col-md-8">
                                                    <b editable-text="animal.specialLightning" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id, 'specialLightning', $data)">
                                                    {{animal.specialLightning || "none"}}
                                                    </b>
                                                    <b ng-show="!isEditable">
                                                    {{ animal.specialLightning}}
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">Animals Irradiated</div>
                                                <div class="col-md-8">
                                                    <b editable-radiolist="animal.animalsIrradiated" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id, 'animalsIrradiated', $data)" e-ng-options="s.value as s.text for s in radioYesNo">
                                                    {{showStatus(animal.animalsIrradiated)}}
                                                    </b>
                                                    <b ng-show="!isEditable">
                                                    {{showStatus(animal.animalsIrradiated)}}
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">Special Caging and/or Equipment</div>
                                                <div class="col-md-8">
                                                    <b editable-text="animal.specialCagingEquipment" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id, 'specialCagingEquipment', $data)">
                                                    {{animal.specialCagingEquipment || "none"}}
                                                    </b>
                                                    <b ng-show="!isEditable">
                                                    {{ animal.specialCagingEquipment}}
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <table class="table no-margin">
                                        <thead>
                                            <tr>
                                                <th>Species</th>
                                                <th>Year1</th>
                                                <th>Year2</th>
                                                <th>Year3</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span>{{animal.species}}</span>
                                                </td>
                                                <td>
                                                    <span editable-number="animal.numberOfAnimals.year1" onaftersave="updatenumberOfAnimals(animal.id,animal.numberOfAnimals.id,'year1',$data)">{{animal.numberOfAnimals.year1 || 0}}</span>
                                                </td>
                                                <td>
                                                    <span editable-number="animal.numberOfAnimals.year2" onaftersave="updatenumberOfAnimals(animal.id,animal.numberOfAnimals.id,'year2',$data)">{{animal.numberOfAnimals.year2 || 0}}</span>
                                                </td>
                                                <td>
                                                    <span editable-number="animal.numberOfAnimals.year3" onaftersave="updatenumberOfAnimals(animal.id,animal.numberOfAnimals.id,'year3',$data)">{{animal.numberOfAnimals.year3 || 0}}</span>
                                                </td>
                                                <td>
                                                    <span>{{animalsTotal(animal.numberOfAnimals)}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="row" ng-if="isEditable">
                                        <div class="col-md-12 text-right" style="margin-bottom: 10px;">
                                            <button class="btn btn-sm btn-primary" ng-click="deleteAnimalDetails(animal.id, $index)">Delete Animal</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--end .panel -->
                <div class="card panel style-primary-light">
                    <div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordion1-4"
                        aria-expanded="false">
                    <header>Transportation</header>
                    <div class="tools">
                        <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
                <div id="accordion1-4" class="collapse" aria-expanded="false" style="height: 0px;">
                    <div class="card-body  style-default-bright">
                        <span class="text-danger">*</span>
                        <a href="#" editable-textarea="details.transportation.description" e-rows="7" e-cols="100" e-maxlength ="2000" onaftersave="updateTransportation('description',$data)" onbeforesave="checkForEmpty(true,$data)">
                        <pre>{{ details.transportation.description || 'Enter transportaion details' }}</pre>
                    </a>
                </div>
            </div>
        </div>
        <!--end .panel -->
        <div class="card panel style-primary-light">
            <div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordionStudy"
                aria-expanded="false">
            <header>Study Objectives</header>
            <div class="tools">
                <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
            </div>
        </div>
        <div id="accordionStudy" class="collapse" aria-expanded="false" style="height: 0px;">
            <div class="card-body style-default-bright">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="list">
                            <li class="tile"  ng-repeat="question in studyObjectsQuestions">
                                <span class="tile-content ink-reaction no-padding">
                                    <div class="tile-text">
                                        {{$index+ 1}}.{{question.value}}
                                        <span ng-show="question.id == '3' " class="text-danger">*</span>
                                        <small>
                                            <a href="#" editable-textarea="question.text" e-rows="7" e-cols="100"  ng-show="isEditable" onaftersave="addOrUpdateQuestion(question,'studyObjective')">
                                                <pre style="white-space: pre-wrap;">{{ question.text || 'Enter your Answer.' }}</pre>
                                            </a>
                                            <pre ng-show="!isEditable">{{ question.text || 'Empty' }}</pre>
                                        </small>
                                    </div>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end .panel -->
    <div class="card panel style-primary-light">
        <div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordionRationale"
            aria-expanded="false">
        <header>Rationale For Use Of Animals</header>
        <div class="tools">
            <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
        </div>
    </div>
    <div id="accordionRationale" class="collapse" aria-expanded="false" style="height: 0px;">
        <div class="card-body style-default-bright">
            <div class="row">
    <div class="col-xs-12">
        <ul class="list">
            <li class="tile"  ng-repeat="question in rationaleQuestions">
                <span class="tile-content ink-reaction no-padding">
                    <div class="tile-text">
                        {{$index+ 1}}.{{question.value}}<span ng-show="question.id == '3'" class="text-danger" >*</span>
                        <small>
                            <a href="#" editable-textarea="question.text" e-rows="7" e-cols="100" e-maxlength="2000" ng-show="isEditable" onaftersave="addOrUpdateQuestion(question,'rationalForUseOfAnimals')"  onbeforesave="checkForEmpty(question.id == '3',$data)">
                                <pre>{{ question.text || 'Enter your Answer.' }}</pre>
                            </a>
                            <pre  ng-show="!isEditable">{{ question.text || 'Empty' }}</pre>
                        </small>
                    </div>
                </span>
            </li>
        </ul>
    </div>
</div>
        </div>
    </div>
</div>
<!--end .panel -->
<div class="card panel style-primary-light">
    <div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordionExperiment"
        aria-expanded="false">
    <header>Description Of Experimental Design And Animal Procedures</header>
    <div class="tools">
        <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
    </div>
</div>
<div id="accordionExperiment" class="collapse" aria-expanded="false" style="height: 0px;">
    <div class="card-body style-default-bright">
        <blockquote><small>Briefly explain the experimental design and specify all animal procedures performed. This description should allow the ACUC to understand the experimental course of an animal from its entry into the experiment to the endpoint of the study. Specifically address the following</small></blockquote>

        <div class="row">
            <div class="col-xs-12">
                <ul class="list">
                    <li class="tile"  ng-repeat="question in experimentalDesignQuestions">
                        <span class="tile-content ink-reaction no-padding">
                            <div class="tile-text">
                                
                                {{$index+ 1}}.{{question.value}} <span class="text-sm">{{question.hint}}</span>
                                <span ng-show="question.id == '1'||question.id == '12'||question.id == '13'||question.id == '14' " class="text-danger">*</span>
                                <small>
                                    <a href="#" editable-textarea="question.text" e-rows="7" e-cols="100" ng-show="isEditable" onaftersave="addOrUpdateQuestion(question,'descriptionOfExperiment')" onbeforesave="checkForEmpty((question.id == '1'||question.id == '12'||question.id == '13'||question.id == '14'),$data)">
                                        <pre>{{ question.text || 'Enter your Answer.' }}</pre>
                                    </a>
                                    <pre ng-show="!isEditable">{{ question.text || 'Empty' }}</pre>
                                </small>
                            </div>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
<!--end .panel -->
<div class="card panel style-primary-light">
<div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordionSurvivalSurgery"
    aria-expanded="false">
<header>Major Survival Surgery</header>
<div class="tools">
    <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
</div>
</div>
<div id="accordionSurvivalSurgery" class="collapse" aria-expanded="false" style="height: 0px;">
<div class="card-body style-default-bright">
    <blockquote><small>If proposed, complete the following.</small></blockquote>
    <div class="checkbox checkbox-styled">
        <label>
            <span>NONE</span>
            <input type="checkbox" value="" ng-model="details.majorSurvialSurgery.none" ng-disabled="!isEditable" ng-change="updateMajorSurvialSurgery(details.majorSurvialSurgery.id,'none',details.majorSurvialSurgery.none)">
            <span>(check if none)</span>
        </label>
    </div>

    <div class="row" ng-show="!details.majorSurvialSurgery.none">
        <div class="col-xs-12">
            <ul class="list">
                <li class="tile"  ng-repeat="question in surgeryQuestions">
                    <span class="tile-content ink-reaction no-padding">
                        <div class="tile-text">
                            {{$index+ 1}}.{{question.value}}
                            <small>
                                <a href="#" editable-textarea="question.text" e-rows="7" e-cols="100" ng-show="isEditable" onaftersave="addOrUpdateQuestion(question,'majorSurvialSurgery')">
                                    <pre>{{ question.text || 'Enter your Answer.' }}</pre>
                                </a>
                                <pre ng-show="!isEditable">{{ question.text || 'Empty' }}</pre>
                            </small>
                        </div>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
</div>
<!--end .panel -->
<div class="card panel style-primary-light">
<div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordionPainOrDistress"
aria-expanded="false">
<header>Recording Pain Or Distress Category</header>
<div class="tools">
<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
</div>
</div>
<div id="accordionPainOrDistress" class="collapse" aria-expanded="false" style="height: 0px;">
<div class="card-body style-default-bright">
    <blockquote>
    <small>
        Proper use of animals, including the avoidance or minimization of discomfort, distress, and pain when consistent with sound scientific practices, is imperative. Unless the contrary is established, investigators should consider that procedures that cause pain or distress in human beings may cause pain or distress in animals.
    </small>
    <small>Check the appropriate category(ies) and indicate the approximate number of animals in each. Sum(s) should equal total from Section B.</small>
    <small>IF ANIMALS ARE INDICATED IN COLUMN E, A SCIENTIFIC JUSTIFICATION IS REQUIRED TO EXPLAIN WHY THE USE OF ANESTHETICS, ANALGESICS, SEDATIVES OR TRANQUILIZERS DURING AND/OR FOLLOWING PAINFUL OR DISTRESSFUL PROCEDURES IS CONTRAINDICATED. FOR USDA REGULATED SPECIES, PLEASE COMPLETE THE EXPLANATION FOR COLUMN E LISTINGS FORM AT THE END OF THIS DOCUMENT.</small>
</blockquote>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th colspan="3" class="col-xs-3"><b>Number of animals to be used each year</b></th>
            </tr>
            <tr>
                <th></th>
                <th><b>YEAR 1</b></th>
                <th><b>YEAR 2</b></th>
                <th><b>YEAR 3</b></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>USDA Column B</b> - No Pain or Distress</td>
                <td e-style="width:50px" editable-number="details.recordPainDistressCategory.usdacolumnB.year1" onaftersave="updatePainOrDistressColumns(details.recordPainDistressCategory.usdacolumnB,'year1',$data)" ng-show="isEditable">{{details.recordPainDistressCategory.usdacolumnB.year1}}</td>
                <td e-style="width:50px" editable-number="details.recordPainDistressCategory.usdacolumnB.year2" onaftersave="updatePainOrDistressColumns(details.recordPainDistressCategory.usdacolumnB,'year2',$data)"ng-show="isEditable">{{details.recordPainDistressCategory.usdacolumnB.year2}}</td>
                <td e-style="width:50px" editable-number="details.recordPainDistressCategory.usdacolumnB.year3" onaftersave="updatePainOrDistressColumns(details.recordPainDistressCategory.usdacolumnB,'year3',$data)"ng-show="isEditable">{{details.recordPainDistressCategory.usdacolumnB.year3}}</td>

                <td ng-hide="isEditable">{{details.recordPainDistressCategory.usdacolumnB.year1}}</td>
                <td ng-hide="isEditable">{{details.recordPainDistressCategory.usdacolumnB.year2}}</td>
                <td ng-hide="isEditable">{{details.recordPainDistressCategory.usdacolumnB.year3}}</td>
            </tr>
            <tr>
                <td><b>USDA Column C</b> - Slight (Minimal), Momentary (Transient), or No Pain or Distress</td>
                <td e-style="width:50px" editable-number="details.recordPainDistressCategory.usdacolumnC.year1" onaftersave="updatePainOrDistressColumns(details.recordPainDistressCategory.usdacolumnC,'year1',$data)" ng-show="isEditable">{{details.recordPainDistressCategory.usdacolumnC.year1}}</td>
                <td e-style="width:50px" editable-number="details.recordPainDistressCategory.usdacolumnC.year2" onaftersave="updatePainOrDistressColumns(details.recordPainDistressCategory.usdacolumnC,'year2',$data)" ng-show="isEditable">{{details.recordPainDistressCategory.usdacolumnC.year2}}</td>
                <td e-style="width:50px" editable-number="details.recordPainDistressCategory.usdacolumnC.year3" onaftersave="updatePainOrDistressColumns(details.recordPainDistressCategory.usdacolumnC,'year3',$data)" ng-show="isEditable">{{details.recordPainDistressCategory.usdacolumnC.year3}}</td>

                <td ng-hide="isEditable">{{details.recordPainDistressCategory.usdacolumnC.year1}}</td>
                <td ng-hide="isEditable">{{details.recordPainDistressCategory.usdacolumnC.year2}}</td>
                <td ng-hide="isEditable">{{details.recordPainDistressCategory.usdacolumnC.year3}}</td>
            </tr>
            <tr>
                <td><b>USDA Column D</b> - Pain or Distress Relieved By Appropriate Measures</td>
                <td e-style="width:50px" editable-number="details.recordPainDistressCategory.usdacolumnD.year1" onaftersave="updatePainOrDistressColumns(details.recordPainDistressCategory.usdacolumnD,'year1',$data)" ng-show="isEditable">{{details.recordPainDistressCategory.usdacolumnD.year1}}</td>
                <td e-style="width:50px" editable-number="details.recordPainDistressCategory.usdacolumnD.year2" onaftersave="updatePainOrDistressColumns(details.recordPainDistressCategory.usdacolumnD,'year2',$data)" ng-show="isEditable">{{details.recordPainDistressCategory.usdacolumnD.year2}}</td>
                <td e-style="width:50px" editable-number="details.recordPainDistressCategory.usdacolumnD.year3" onaftersave="updatePainOrDistressColumns(details.recordPainDistressCategory.usdacolumnD,'year3',$data)" ng-show="isEditable">{{details.recordPainDistressCategory.usdacolumnD.year3}}</td>

                <td ng-hide="isEditable">{{details.recordPainDistressCategory.usdacolumnD.year1}}</td>
                <td ng-hide="isEditable">{{details.recordPainDistressCategory.usdacolumnD.year2}}</td>
                <td ng-hide="isEditable">{{details.recordPainDistressCategory.usdacolumnD.year3}}</td>
            </tr>
            <tr>
                <td><b>USDA Column E</b> - Unrelieved Pain or Distress</td>
                <td e-style="width:50px" editable-number="details.recordPainDistressCategory.usdacolumnE.year1" onaftersave="updatePainOrDistressColumns(details.recordPainDistressCategory.usdacolumnE,'year1',$data)" ng-show="isEditable">{{details.recordPainDistressCategory.usdacolumnE.year1}}</td>
                <td e-style="width:50px" editable-number="details.recordPainDistressCategory.usdacolumnE.year2" onaftersave="updatePainOrDistressColumns(details.recordPainDistressCategory.usdacolumnE,'year2',$data)" ng-show="isEditable">{{details.recordPainDistressCategory.usdacolumnE.year2}}</td>
                <td e-style="width:50px" editable-number="details.recordPainDistressCategory.usdacolumnE.year3" onaftersave="updatePainOrDistressColumns(details.recordPainDistressCategory.usdacolumnE,'year3',$data)" ng-show="isEditable">{{details.recordPainDistressCategory.usdacolumnE.year3}}</td>

                <td ng-hide="isEditable">{{details.recordPainDistressCategory.usdacolumnE.year1}}</td>
                <td ng-hide="isEditable">{{details.recordPainDistressCategory.usdacolumnE.year2}}</td>
                <td ng-hide="isEditable">{{details.recordPainDistressCategory.usdacolumnE.year3}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th><b>Total</b></th>
                <th>{{details.recordPainDistressCategory.usdacolumnB.year1+details.recordPainDistressCategory.usdacolumnC.year1+details.recordPainDistressCategory.usdacolumnD.year1+details.recordPainDistressCategory.usdacolumnE.year1}}</th>
                <th>{{details.recordPainDistressCategory.usdacolumnB.year2+details.recordPainDistressCategory.usdacolumnC.year2+details.recordPainDistressCategory.usdacolumnD.year2+details.recordPainDistressCategory.usdacolumnE.year2}}</th>
                <th>{{details.recordPainDistressCategory.usdacolumnB.year3+details.recordPainDistressCategory.usdacolumnC.year3+details.recordPainDistressCategory.usdacolumnD.year3+details.recordPainDistressCategory.usdacolumnE.year3}}</th>
            </tr>
        </tfoot>
    </table>    
</div>

<div class="row">
    <div class="col-md-12">
        Describe in a brief narrative your consideration of alternatives to all procedures listed for Column D and E that may cause more than momentary or slight pain or distress to the animals, and your determination that alternatives that allow the attainment of the goals of the research were not available. Consideration must be given to alternative procedures, refinement of current procedures, and reduction in the number of animals used. Delineate below the methods and sources used in the search for and consideration of alternative procedures and method refinements. Database references must include databases (2 or more) searched, the date of the search, period covered, and keywords used. Expert consultations must include the consultant’s name and qualifications and the date and content of consult. It is the responsibility of the Principal Investigator to justify why alternative procedures and refinements are contraindicated.
    </div>
    <div class="col-md-12">
        <a href="#" editable-textarea="details.recordPainDistressCategory.narativeOfProcedures.value" e-rows="7" e-cols="100" onaftersave="updatePainOrDistress(details.recordPainDistressCategory.narativeOfProcedures.id,'narativeOfProcedures',$data)" ng-show="isEditable">
            <pre>{{details.recordPainDistressCategory.narativeOfProcedures.value || 'Enter details' }}</pre>
        </a>
        <pre ng-hide="isEditable">{{details.recordPainDistressCategory.narativeOfProcedures.value || 'Enter details' }}</pre>
    </div>  
</div>
<blockquote>
    <small>Note: Principal investigators must certify in Section N, Certification 5, that no valid alternative was identified to any described procedures which may cause more than momentary pain or distress, whether it is relieved or not.</small>
</blockquote>
</div>
</div>
</div>
<!--end .panel -->
<div class="card panel style-primary-light">
<div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordionAnesthesia"
aria-expanded="false">
<header>Anesthesia, Analgesia, Tranquilization</header>
<div class="tools">
<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
</div>
</div>
<div id="accordionAnesthesia" class="collapse" aria-expanded="false" style="height: 0px;">
<div class="card-body style-default-bright">
<blockquote>
<small>For animals indicated in Section H, Column D, and for animals anesthetized to prevent distress, specify the anesthetics,
analgesics, sedatives or tranquilizers that are to be used. Include the name of the agent(s), the dosage, route, and frequency
of administration.</small>
</blockquote>
<div class="row">
<div class="col-sm-12">
    <div class="checkbox checkbox-styled">
        <b>None</b>
        <label>
            <input type="checkbox" value="" ng-model="details.anesthesiaMethod.none" ng-change="updateAnesthesiaMethod('none',details.anesthesiaMethod.none)" ng-disabled="!isEditable">
            <span>(check if none)</span>
        </label>
    </div>
</div>
</div>
<a href="#" editable-textarea="details.anesthesiaMethod.anesthesiaMethodDesc.value" e-rows="7" e-cols="100" ng-show="!details.anesthesiaMethod.none && isEditable"
onaftersave="updateAnesthesiaMethodComments(details.anesthesiaMethod.anesthesiaMethodDesc.id,'anesthesiaMethodDesc',$data)">
<pre>{{details.anesthesiaMethod.anesthesiaMethodDesc.value || 'Enter details' }}</pre>
</a>
<pre ng-hide="details.anesthesiaMethod.none || isEditable">{{details.anesthesiaMethod.anesthesiaMethodDesc.value || 'No details' }}</pre>
</div>
</div>
</div>
<!--end .panel -->
<div class="card panel style-primary-light">
<div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordionEuthenasia"
aria-expanded="false">
<header>Method Of Euthenasia And/Or Disposition Of Animals At End Of Study</header>
<div class="tools">
<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
</div>
</div>
<div id="accordionEuthenasia" class="collapse" aria-expanded="false" style="height: 0px;">
<div class="card-body style-default-bright">
<blockquote>
<small>Indicate the proposed method, and, if a chemical agent is used, specify the dosage and route of administration. If the method(s)
of euthanasia include those not recommended by the AVMA Guideline on Euthanasia, provide scientific justification why such
methods must be used, e.g., cervical dislocation of non-anesthetized mice. Indicate the method of carcass disposal if not
as MPW.</small>
</blockquote>
<div class="row">
<div class="col-sm-12">
<div class="checkbox checkbox-styled">
<b>None</b>
<label>
<input type="checkbox" value="" ng-model="details.euthanasiaMethod.none" ng-change="updateEuthanasiaMethod('none',details.euthanasiaMethod.none)" ng-disabled="!isEditable">
<span>(check if none)</span>
</label>
</div>
</div>
</div>
<a href="#" editable-textarea="details.euthanasiaMethod.euthanasiaMethodDesc.value" e-rows="7" e-cols="100" ng-show="!details.euthanasiaMethod.none && isEditable"
onaftersave="updateEuthanasiaMethodComments(details.euthanasiaMethod.euthanasiaMethodDesc.id,'euthanasiaMethodDesc',$data)">
<pre>{{details.euthanasiaMethod.euthanasiaMethodDesc.value || 'Enter details' }}</pre>
</a>
<pre ng-hide="isEditable || details.euthanasiaMethod.none">{{details.euthanasiaMethod.euthanasiaMethodDesc.value || 'No Details'}}</pre>
</div>
</div>
</div>
<!--end .panel -->
<div class="card panel style-primary-light">
<div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordionHazardousAgents"
aria-expanded="false">
<header>Hazardous Agents</header>
<div class="tools">
<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
</div>
</div>
<div id="accordionHazardousAgents" class="collapse" aria-expanded="false" style="height: 0px;">
<div class="card-body style-default-bright">
    <blockquote>
    <small>Use of hazardous agents requires the approval of an IC safety specialist. Registration Documents for the use of recombinant DNA or potential human pathogens may be required to be attached at the discretion of the ACUC.</small>
</blockquote>
<div class="row">
    <div class="col-sm-12">
        <div class="checkbox checkbox-styled">
            <b>None</b>
            <label>
                <input type="checkbox" value="" ng-model="details.hazardousAgents.none" ng-change="updateHazardousAgents('none',details.hazardousAgents.none)" ng-disabled="!isEditable">
                <span>(check if none)</span>
            </label>
        </div>
    </div>
</div>
<div ng-hide="details.hazardousAgents.none">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-sm-4"></th>
                    <th class="col-sm-1"><b>Yes</b></th>
                    <th class="col-sm-1"><b>No</b></th>
                    <th class="col-sm-6"><b>List agents and registration document number (if applicable)</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Radionuclides</td>
                    <td class="text-center">
                        <label class="radio-inline radio-styled radio-primary">
                            <input type="radio"  name="radionuclides" value="true" ng-checked="details.hazardousAgents.radionuclides === true" ng-click="updateHazardousAgents('radionuclides',true)" ng-disabled="!isEditable"><span></span>
                        </label>
                    </td>
                    <td class="text-center">
                        <label class="radio-inline radio-styled radio-warning">
                            <input type="radio" name="radionuclides" value="false" ng-checked="!details.hazardousAgents.radionuclides || details.hazardousAgents.radionuclides === false" ng-click="updateHazardousAgents('radionuclides',false)" ng-disabled="!isEditable"><span></span>
                        </label>
                    </td>
                    <td e-style="width:200%"  editable-text="details.hazardousAgents.radionuclidesAgentsAndRegNum" onaftersave="updateHazardousAgents('radionuclidesAgentsAndRegNum',$data)" ng-show="isEditable">{{details.hazardousAgents.radionuclidesAgentsAndRegNum || 'Empty'}}</td>
                    <td ng-hide="isEditable">{{details.hazardousAgents.radionuclidesAgentsAndRegNum}}</td>
                </tr>
                <tr>
                    <td>Biological Agents with Human Pathogenic Potential</td>
                    <td class="text-center">
                        <label class="radio-inline radio-styled radio-primary">
                            <input type="radio"  name="bioAgents" value="true" ng-checked="details.hazardousAgents.bioAgents === true" ng-click="updateHazardousAgents('bioAgents',true)" ng-disabled="!isEditable"><span></span>
                        </label>
                    </td>
                    <td class="text-center">
                        <label class="radio-inline radio-styled radio-warning">
                            <input type="radio" name="bioAgents" value="false" ng-checked="!details.hazardousAgents.bioAgents || details.hazardousAgents.bioAgents === false" ng-click="updateHazardousAgents('bioAgents',false)" ng-disabled="!isEditable"><span></span>
                        </label>
                    </td>
                    <td e-style="width:200%"  editable-text="details.hazardousAgents.bioAgentsAgentsAndRegNum" onaftersave="updateHazardousAgents('bioAgentsAgentsAndRegNum',$data)" ng-show="isEditable">{{details.hazardousAgents.bioAgentsAgentsAndRegNum || 'Empty'}}</td>
                    <td ng-hide="isEditable">{{details.hazardousAgents.bioAgentsAgentsAndRegNum}}</td>
                </tr>
                <tr>
                    <td>Hazardous Chemicals or Drugs</td>
                    <td class="text-center">
                        <label class="radio-inline radio-styled radio-primary">
                            <input type="radio"  name="chemicalsAndDrugs" value="true" ng-checked="details.hazardousAgents.chemicalsAndDrugs === true" ng-click="updateHazardousAgents('chemicalsAndDrugs',true)" ng-disabled="!isEditable"><span></span>
                        </label>
                    </td>
                    <td class="text-center">
                        <label class="radio-inline radio-styled radio-warning">
                            <input type="radio" name="chemicalsAndDrugs" value="false" ng-checked="!details.hazardousAgents.chemicalsAndDrugs || details.hazardousAgents.chemicalsAndDrugs === false" ng-click="updateHazardousAgents('chemicalsAndDrugs',false)" ng-disabled="!isEditable"><span></span>
                        </label>
                    </td>
                    <td e-style="width:200%"  editable-text="details.hazardousAgents.chemicalsAndDrugsAgentsAndRegNum" onaftersave="updateHazardousAgents('chemicalsAndDrugsAgentsAndRegNum',$data)" ng-show="isEditable">{{details.hazardousAgents.chemicalsAndDrugsAgentsAndRegNum || 'Empty'}}</td>
                    <td ng-hide="isEditable">{{details.hazardousAgents.chemicalsAndDrugsAgentsAndRegNum}}</td>
                </tr>
                <tr>
                    <td>Recombinant DNA</td>
                    <td class="text-center">
                        <label class="radio-inline radio-styled radio-primary">
                            <input type="radio"  name="recombinantDNA" value="true" ng-checked="details.hazardousAgents.recombinantDNA === true" ng-click="updateHazardousAgents('recombinantDNA',true)" ng-disabled="!isEditable"><span></span>
                        </label>
                    </td>
                    <td class="text-center">
                        <label class="radio-inline radio-styled radio-warning">
                            <input type="radio" name="recombinantDNA" value="false" ng-checked="!details.hazardousAgents.recombinantDNA || details.hazardousAgents.recombinantDNA === false" ng-click="updateHazardousAgents('recombinantDNA', false)" ng-disabled="!isEditable"><span></span>
                        </label>
                    </td>
                    <td e-style="width:200%" editable-text="details.hazardousAgents.recombinantDNAAgentsAndRegNum" onaftersave="updateHazardousAgents('recombinantDNAAgentsAndRegNum',$data)" ng-show="isEditable">{{details.hazardousAgents.recombinantDNAAgentsAndRegNum || 'Empty'}}</td>
                    <td ng-hide="isEditable">{{details.hazardousAgents.recombinantDNAAgentsAndRegNum}}</td>
                </tr>
                <tr>
                    <td>Study conducted at Animal Biosafety Level (ABSL)</td>
                    <td e-style="width:200%" colspan="3" editable-text="hazardousagents.animalBiosafetyLevel.value" onaftersave="updateHazardousAgents('animalBiosafetyLevel',hazardousagents.animalBiosafetyLevel.value)" ng-show="isEditable">{{hazardousagents.animalBiosafetyLevel.value || 'Empty'}}</td>
                    <td ng-hide="isEditable" colspan="3" >{{hazardousagents.animalBiosafetyLevel.value}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <blockquote>
        <small>Describe the practices and procedures required for the safe handling and disposal of contaminated animals and material associated with this study. For studies involving the administration of radioisotopic materials to animals, provide the DRS number for the Authorized User. Also describe methods for removal of radioactive waste and, if applicable, the monitoring of radioactivity. Use of volatile anesthetics requires a description of scavenging methods used</small>
    </blockquote> 
    <div>Additional safety considerations</div>
    <a href="#" editable-textarea="hazardousagents.safetyConsiderations.value" e-rows="7" e-cols="100" onaftersave="updateHazardousAgents('safetyConsiderations',hazardousagents.safetyConsiderations.value)" ng-show="isEditable">
        <pre>{{hazardousagents.safetyConsiderations.value || 'Enter details' }}</pre>
    </a>
    <pre ng-hide="isEditable">{{hazardousagents.safetyConsiderations.value || 'Enter details' }}</pre>
    <div>Occupational Health and Safety considerations (vaccinations, precautions, etc)</div>
    <a href="#" editable-textarea="hazardousagents.occupationalHealth.value" e-rows="7" e-cols="100" onaftersave="updateHazardousAgents('occupationalHealth',hazardousagents.occupationalHealth.value)" ng-show="isEditable">
        <pre>{{hazardousagents.occupationalHealth.value || 'Enter details' }}</pre>
    </a>
    <pre ng-hide="isEditable">{{hazardousagents.occupationalHealth.value || 'Enter details' }}</pre>
</div>
</div>
</div>
</div>
<!--end .panel -->
<div class="card panel style-primary-light">
<div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordionBiologicalMaterial"
aria-expanded="false">
<header>Biological Material/Animal Products For Use In Animals</header>
<div class="tools">
<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
</div>
</div>
<div id="accordionBiologicalMaterial" class="collapse" aria-expanded="false" style="height: 0px;">
<div class="card-body style-default-bright">
    <blockquote>
    <small>e.g., cell lines, antiserum, etc.</small>
    <small>All biologicals to be used in animals must be listed here, regardless of species.</small>
</blockquote>
<div class="row">
    <div class="col-sm-12">
        <div class="checkbox checkbox-styled">
            <b>None</b>
            <label>
                <input type="checkbox" value="" ng-model="details.bioAnimalMaterial.none" ng-change="updateBioAnimalMaterial('none',details.bioAnimalMaterial.none)" ng-disabled="!isEditable">
                <span>(check if none)</span>
            </label>
        </div>
    </div>
</div>
<div ng-hide="details.bioAnimalMaterial.none">
    <div class="row">
        <div class="col-sm-12 text-right">
            <button type="button" class="btn btn-primary btn-sm" ng-click="addBioAnimalMaterialsUsed()" ng-show="isEditable">Add Material</button>
        </div>
        <br /><br />
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th><b>Material Name</b></th>
                    <th><b>Source</b></th>
                    <th class="col-xs-1"><b>Sterile/Attenuated?<br>Y/N</b></th>
                    <th class="col-xs-1"><b>For use in rodents?</b></th>
                    <th ng-if="isEditable"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="material in details.bioAnimalMaterial.bioMaterialsUsed">
                    <td editable-text="material.name" onaftersave="updateBioAnimalMaterialsUsed('name',$data,material.id)" ng-show="isEditable">{{material.name || 'Empty'}}</td>
                    <td editable-text="material.source" onaftersave="updateBioAnimalMaterialsUsed('source',$data,material.id)" ng-show="isEditable">{{material.source || 'Empty'}}</td>
                    <td ng-hide="isEditable">{{material.name}}</td>
                    <td ng-hide="isEditable">{{material.source}}</td>
                    <td class="text-center">
                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="" ng-model="material.sterileAttenuated" ng-change="updateBioAnimalMaterialsUsed('sterileAttenuated',material.sterileAttenuated,material.id)" ng-disabled="!isEditable">
                                <span></span>
                            </label>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="" ng-model="material.useInRodent" ng-change="updateBioAnimalMaterialsUsed('useInRodent',material.useInRodent,material.id)" ng-disabled="!isEditable">
                                <span></span>
                            </label>
                        </div>
                    </td>
                    <td class="text-center col-xs-1" >
                        <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete row" ng-click="deleteBioAnimalMaterialsUsed(material.id, $index)"><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<span>I certify that the MAP/RAP/HAP/PCR tested materials to be used in rodents have not been passed through rodent species outside of the animal facility in question and/or the material is derived from the original MAP/RAP/HAP/PCR tested sample. To the best of my knowledge the material remains uncontaminated with rodent pathogens.</span>
<div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-3 text-right">
        <b class="text-left text-primary" e-placeholder="Enter Initial" editable-text="details.bioAnimalMaterial.initialsOfPI" onaftersave="updateBioAnimalMaterial('initialsOfPI',$data)" ng-show="isEditable">{{details.bioAnimalMaterial.initialsOfPI || 'Enter'}}</b>
        <b class="text-left text-primary" ng-hide="isEditable">{{details.bioAnimalMaterial.initialsOfPI}}</b>
    </div>
    <div class="col-sm-3"><b>Initials of Principal Investigator</b></div>   
</div>
</div>
</div>
</div>
<!--end .panel -->
<div class="card panel style-primary-light">
<div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordionSpecialConcerns"
aria-expanded="false">
<header>Special Concerns Or Requirements Of the Study</header>
<div class="tools">
<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
</div>
</div>
<div id="accordionSpecialConcerns" class="collapse" aria-expanded="false" style="height: 0px;">
<div class="card-body style-default-bright">
<blockquote>
<small>List any special housing, equipment, animal care (i.e., special caging, water, feed, or waste disposal, etc.). Include justification
for exemption from participation in the environmental enrichment plan for nonhuman primates or rodents..</small>
</blockquote>
<div class="row">
<div class="col-sm-12">
<div class="checkbox checkbox-styled">
<b>None</b>
<label>
<input type="checkbox" value="" ng-model="details.specialRequirementOfStudy.none" ng-change="updateSpecialRequirementOfStudy('none',details.specialRequirementOfStudy.none)" ng-disabled="!isEditable">
<span>(check if none)</span>
</label>
</div>
</div>
</div>
<a href="#" editable-textarea="details.specialRequirementOfStudy.specialRequirements.value" e-rows="7" e-cols="100" ng-hide="details.specialRequirementOfStudy.none || !isEditable"
onaftersave="updateSpecialRequirementOfStudyComments(details.specialRequirementOfStudy.specialRequirements.id,'specialRequirements',$data)">
<pre>{{details.specialRequirementOfStudy.specialRequirements.value || 'Enter details' }}</pre>
</a>
<pre ng-hide="details.specialRequirementOfStudy.none || isEditable">{{details.specialRequirementOfStudy.specialRequirements.value || 'No details' }}</pre>
</div>
</div>
</div>
<!--end .panel -->
<!-- <div class="card panel style-primary-light">
<div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordionPICertifications" aria-expanded="false">
<header>Principal Investigator Certifications</header>
<div class="tools">
<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
</div>
</div>
<div id="accordionPICertifications" class="collapse" aria-expanded="false" style="height: 0px;">
<div class="card-body style-default-bright">
<blockquote><small>See instructions for further guidance.</small></blockquote>
<ol>
<li>I certify that the individuals working on this project have received the appropriate instructions and training in the biology,handling, and care of this species; aseptic surgical methods and techniques (if necessary); the concept, availability, and the use of research or testing methods that limit the use of animals or minimize distress; the proper use of anesthetics, analgesics, and tranquilizers (if necessary); and procedures for reporting animal welfare concerns, and that these individuals are qualified to perform the required experimental procedures.</li>
<li>I certify that the room and/or equipment to house this study meets the standards to handle the biohazard level indicated.</li>
<li>I will inform the IACUC of any proposed significant changes in this study.</li>
</ol>
<hr>
<div class="row">
<div class="col-md-2">Principal Investigator</div>
<div class="col-md-3"><b editable-text="piCertifications.name">{{piCertifications.name || 'Enter Name'}}</b></div>
<div class="col-md-1">Signature</div>
<div class="col-md-3"><b editable-text="piCertifications.signature">{{piCertifications.signature || 'Enter Signature'}}</b></div>
<div class="col-md-1">Date</div>
<div class="col-md-2"><b editable-date="piCertifications.date">{{piCertifications.date || 'Enter Date'}}</b></div>
</div>
</div>
</div>
</div>
-->
<!--end .panel -->
<div class="card no-padding style-primary-light">
<div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordionUserCommnets"
aria-expanded="false">
<header>User Comments</header>
<div class="tools">
<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
</div>
</div>
<div id="accordionUserCommnets" class="collapse" aria-expanded="false" style="height: 0px;">
<div class="card-body style-default-light" ng-include="'protocol/partial/protocolDetails/templates/userComments.html'"></div>
</div>
</div>
<!--end .panel -->
<div class="card no-padding">
<div class="card-body style-default-bright">
    <div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">Review Type:</label>
        <div class="col-sm-9">
            <label class="radio-inline radio-styled radio-primary">
                <input type="radio" name="reviewType" ng-model="details.isDesignatedMemberReview" value="true" ng-checked="details.isDesignatedMemberReview" ng-disabled="!isChairman || details.status === 'REVIEW' || details.status === 'APPROVED'" ng-change="updateReviewType('isDesignatedMemberReview',details.isDesignatedMemberReview)"><span>Designated Member Review</span>
            </label>
            <label class="radio-inline radio-styled radio-primary">
                <input type="radio" name="reviewType" ng-model="details.isDesignatedMemberReview" ng-checked="!details.isDesignatedMemberReview" value="false" ng-disabled="!isChairman || details.status === 'REVIEW' || details.status === 'APPROVED'" ng-change="updateReviewType('isDesignatedMemberReview',details.isDesignatedMemberReview)"><span>Full Committe Member Review</span>
            </label>
        </div><!--end .col -->
    </div><!--end .form-group -->
</div>
<div class="row" ng-if="details.isDesignatedMemberReview">
    <ul class="list divider-full-bleed">
        <li class="tile" ng-show="details.review.userNames.length > 0">
            <a class="tile-content ink-reaction">
                <div class="tile-text">
                    <label class="text-bold">DMR User: </label> {{details.review.userNames[0]}}
                </div>
            </a>
        </li>
    </ul>
</div>
<div class="row" ng-if="details.isDesignatedMemberReview" ng-hide="details.review.userNames.length > 0">
    <div class="col-md-2">
        <label class="text-bold">DMR User: </label>
    </div>
    <div ng-show="!isChairman">{{details.dmrUsername || details.otherUsername}}</div>
    <div class="col-xs-5" ng-show="isChairman">
        <select ui-select2 ng-model="details.dmrUsername" data-placeholder="Select User" class="form-control">
            <option ng-repeat="person in committeeMembers">{{person.firstName}} {{person.lastName}}</option>
            <option>Others</option>
        </select>
    </div>
    <div class="col-xs-5" ng-show="details.dmrUsername == 'Others' && isChairman">
        <input type="text" name="name" class="form-control" ng-model="user.otherUsername" placeholder="Enter name of the user" />
    </div>
</div>

<div class="row" ng-hide="details.isDesignatedMemberReview">
    <div ng-show="review.userNames.length <= 0">No members added yet.</div>
    <ul class="list divider-full-bleed">
        <li class="tile" ng-repeat="member in details.review.userNames">
            <a class="tile-content ink-reaction">
                <div class="tile-text" ng-show="!member.isEditable">
                    {{member}}
                </div>
                <div ng-show="member.isEditable" class="col-xs-12">
                    <div class="col-xs-7">
                        <select ui-select2 ng-model="member" data-placeholder="Select User" class="form-control">
                            <option ng-repeat="person in usersList">{{person.firstName}} {{person.lastName}}</option>
                            <option>Others</option>
                        </select>
                    </div>
                </div>
            </a>
            <a class="btn btn-flat ink-reaction" ng-click="member.isEditable = true" ng-show="!member.isEditable && isCharman">
                <i class="fa fa-pencil"></i>
            </a>
            <a class="btn btn-flat ink-reaction" ng-click="member.isEditable = false" ng-show="member.isEditable && isCharman">
                <i class="fa fa-check"></i>
            </a>
            <a class="btn btn-flat ink-reaction" ng-click="member.isEditable = false" ng-show="member.isEditable && isCharman">
                <i class="fa fa-times"></i>
            </a>
        </li>
    </ul>
</div>
</div>
<!--<form ng-submit="addCommitteeMember()" ng-if="isChairman && (details.status !== 'REVIEW' && details.status !== 'APPROVED')" ng-hide="details.isDesignatedMemberReview">
<div class="card-body style-primary-bright">
<div class="col-xs-5">
<select ui-select2 ng-model="newCommitteeMember.username" data-placeholder="Select User" class="form-control">
<option ng-repeat="person in committeeMembers">{{person.firstName}} {{person.lastName}}</option>
<option>Others</option>
</select>
</div>
<div class="col-xs-5">
<input type="text" name="name" ng-show="newCommitteeMember.username == 'Others'" class="form-control" ng-model="newCommitteeMember.otherUsername"
placeholder="Enter name of the user" />
</div>
<div class="col-md-2">
<button type="submit" class="btn btn-primary">Add Member</button>
</div>
</div>
</form>-->
</div>
</div>
<!--end .col -->
</div>
</div>
<!--end .section-body -->
</div>
<div class="section-footer">
<div class="row text-right">
<div class="btn-group dropup"  style="margin-top:-30px;margin-right:40px">
<button type="button" class="btn ink-reaction btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Actions
<i class="fa fa-caret-up"></i>
</button>
<ul class="dropdown-menu animation-expand text-left" role="menu">
<li>
<a ng-show="isChairman && details.status === 'REVIEW'" ng-click="updateProtocolDetails('status','APPROVED')"><i class="fa fa-check"></i> Approve</a>
</li>
<li>
<a ng-show="isEditable && details.status === 'PENDING'" ng-click="updateProtocolDetails('status','PRE_REVIEW')"><i class="fa fa-check"></i> Complete</a>
</li>
<li>
<a ng-show="isChairman && (details.status === 'PRE_REVIEW' || details.status === 'PENDING')" ng-click="updateProtocolDetails('status','REVIEW')"><i class="fa fa-check"></i> Review</a>
</li>
<li>
<a ng-click="exportPdf()"><i class="fa fa-file-pdf-o"></i> Export to PDF</a>
</li>
</ul>
</div>
</div>
</div>
</section>