<div ng-controller="QuerybuilderCtrl">
	<section>
		<toaster-container toaster-options="{'body-output-type':'trustedHtml'}"></toaster-container>
		<div class="section-header">
			<ol class="breadcrumb">
				<li class="active">Query Builder</li>
			</ol>
		</div>
		<div class="section-body">
			<div ng-show="selectedTab === 'SEARCH'">
				<div class="row" collapse="filterIsCollapsed">
					<div class="col-md-3">
						<div class="card ">
							<div class="card-head style-primary-light">
								<header>Entities</header>
								<div class="tools">
									<div class="dropdown">
										<a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary btn-sm btn-collapse" data-target="#" href="/page.html">
											Add<i class="md md-add"></i>
										</a>
										<ul class="dropdown-menu multi-level " role="menu" aria-labelledby="dropdownMenu">
											<li class="" ng-repeat="entity in entitiesList">
												<a tabindex="-1" ng-click="addEntities(entity);">{{entity.name}}</a>
											</li>
										</ul>
									</div>
								</div>
							</div><!--end .card-head -->
							<div class="nano" style="height: 300px;overflow-y: auto;">
								<div class="nano-content" tabindex="0">
									<div class="card-body no-padding height-9">
										<ul class="list divider-full-bleed">
											<li class="tile" ng-repeat="entity in selectedEntities | filter:{selected:true}">
												<a class="tile-content ink-reaction">
													<div class="tile-text" style="padding-left:{{$index*15}}px">{{entity.name}}</div>
												</a>
												<a class="btn btn-flat ink-reaction" ng-click="deleteEntity(entity, $index);">
													<i class="fa fa-trash"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="nano-pane">
									<div class="nano-slider"></div>
								</div>
								</div><!--end .card-body -->
								</div><!--end .card -->
							</div>
							<div class="col-md-4">
								<div class="card ">
									<div class="card-head style-primary-light">
									<header>Columns</header>
									<div class="tools">
										<div class="dropdown">
											
											<a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary btn-sm btn-collapse" data-target="#" href="/page.html">
												Add Column <i class="md md-add"></i>
											</a>
											<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
												<li class="dropdown-submenu" ng-repeat="entity in selectedEntities | filter:{selected:true}">
													<a tabindex="-1">{{entity.name}}</a>
													<ul class="dropdown-menu">
														<li ng-hide="col.selected" ng-repeat="col in entity.columns" ><a ng-click="addSelectedColumns(col.name, entity.name, entity.realName, col.displayName,col)">{{col.displayName}}</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="" style="height: 300px;overflow-y: auto;">
									<div class="" tabindex="0">
										<div class="card-body no-padding">
											<ul class="list divider-full-bleed">
												<li class="tile" ng-repeat="col in selectedColumns">
													<a class="tile-content ink-reaction">
														<div class="tile-text">{{col.entity}} - {{col.displayName}}</div>
													</a>
													<a class="btn btn-flat ink-reaction" ng-click="deleteSelectedColumn(col)">
														<i class="fa fa-trash"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="nano-pane">
										<div class="nano-slider"></div>
									</div>
									</div><!--end .card-body -->
								</div>
							</div>
							<div class="col-md-5">
								<div class="card ">
									<div class="card-head style-primary-light">
									<header>Filter</header>
									<div class="tools">
										<span class="dropdown">
											<a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-info btn-sm btn-collapse" data-target="#">
												Filter Type : {{filterType}}
											</a>
											<ul class="dropdown-menu text-left">
                                                    <li><a ng-click="setFilterType('AND')">AND</a></li>
                                                    <li><a ng-click="setFilterType('OR')">OR</a></li>
                                                </ul>
										</span>
										<span class="dropdown">
											
											<a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary btn-sm btn-collapse" data-target="#test" href="/page.html">
												Add Filter<i class="md md-add"></i>
											</a>
											<ul class="dropdown-menu multi-level " role="menu" aria-labelledby="dropdownMenu">
												<li class="dropdown-submenu pull-left" style="display:block;" ng-repeat="entity in selectedEntities | filter:{selected:true}">
													<a tabindex="-1">{{entity.name}}</a>
													<ul class="dropdown-menu">
														<li ng-repeat="col in entity.columns"><a ng-click="addSelectedFilters(col.name, entity.name, col.type, col.displayName)">{{col.displayName}}</a></li>
													</ul>
												</li>
											</ul>
										</span>
									</div>
								</div>
								<div class="nano" style="height: 300px;overflow-y: auto;">
									<div class="nano-content" tabindex="0">
										<div class="card-body no-padding height-9">
											<ul class="list divider-full-bleed">
												<li class="tile" ng-repeat="col in selectedFilters">
													<div class="tile-content">
														<div class="tile-text">{{col.entity}} - {{col.displayName}} <span dropdown on-toggle="toggled(open)">
															<a class="text-primary" href id="simple-dropdown{{col.sl}}" dropdown-toggle>
																{{col.filterType}}
															</a>
															<ul class="dropdown-menu" aria-labelledby="simple-dropdown{{col.sl}}">
																<li ng-repeat="choice in filterItems">
																	<a href ng-click="col.filterType = choice;">{{choice}}</a>
																</li>
															</ul>
														</span>
														<span editable-text="col.filterText">{{ col.filterText || (col.filterType === 'between'? 'from' : 'empty') }}</span>
														<span editable-text="col.filterTextTo" ng-if="col.filterType === 'between'"> - {{ col.filterTextTo || (col.filterType === 'between'? 'to' : 'empty') }}</span>
													</div>
												</div>
												<a class="btn btn-flat ink-reaction" ng-click="deleteSelectedFilter(col)">
													<i class="fa fa-trash"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="nano-pane">
									<div class="nano-slider"></div>
								</div>
								</div><!--end .card-body -->
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 text-right">
							<input class="btn btn-primary" type="submit" value="Search" ng-hide="filterIsCollapsed" ng-click="queryResults()"/>
							<input class="btn ink-reaction btn-default-light" type="button" value="Reset" ng-hide="filterIsCollapsed" ng-click="resetSearch()" />
						</div>
					</div>
				</div>
			</div>
			<div ng-show="selectedTab === 'RESULTS'">
				<div class="row">
					<br />
					<div class="col-md-12">
						<div class="card">
							<div class="card-head style-primary-light">
								<header>Search Results</header>
								<div class="tools">
		                            <a class="btn btn-flat hidden-xs" ng-click="selectedTab = 'SEARCH';"><span class="glyphicon glyphicon-arrow-left"></span> &nbsp;Back to search</a>
		                        </div>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-condensed table-bordered table-hover table-striped no-margin dataTable" >
										<thead>
											<tr class="info">
												<th ng-repeat="col in selectedColumns" class="sorting" ng-click="orderData(col.actualColumn)" ng-class="{sorting_desc:(reverse && predicate === col.actualColumn), sorting_asc:(!reverse && predicate === col.actualColumn)}">{{col.displayName}}</th>
												<th></th>
											</tr>
											<tr class="active">
												<th ng-repeat="col in resultColumns">
													<div class="row">
														<div class="col-md-6">
															<select class="form-control" ng-model="col.filterType"  ng-change="filterQueryResult('type');" placeholder="filter">
																<option></option>
																<option ng-repeat="filter in filterItems" ng-hide="filter === 'between'">{{filter}}</option>
															</select>
														</div>
														<div class="col-md-6">
															<input type="search" class="form-control" placeholder="Filter Text" ng-model="col.filterValue" ng-blur="filterQueryResult('value');" />
														</div>
													</div>
												</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="result in QueryResult track by $index">
												<td ng-repeat="col in selectedColumns">{{result[col.actualColumn]}}</td>
												<td class="text-center">
													<button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete row" ng-click="deleteResultValue($index)"><i class="fa fa-trash-o"></i></button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								</div><!--end .card-body -->
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 text-right">
							<input class="btn btn-primary" type="submit" value="Analyze" ng-click="goToPivot()"/>
							<input class="btn btn-primary" type="submit" value="Export" ng-csv="getQueryArray()" filename="QueryResults.csv" csv-header="getExportHeaders()"/>
						</div>
					</div>
				</div>
				<div ng-show="selectedTab === 'PIVOT'">
					<div class="row">
						<br />
						<div class="col-md-12">
							<div class="card">
								<div class="card-head style-primary-light">
									<header>Analyze Data</header>
									<div class="tools">
			                            <a class="btn btn-flat hidden-xs" ng-click="selectedTab = 'RESULTS';" ><span class="glyphicon glyphicon-arrow-left"></span> &nbsp;Back to results</a>
			                        </div>
								</div>
								<div class="card-body">
									<div id="pivotOutput"></div>
									</div><!--end .card-body -->
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>