<section ng-controller="CannedlistCtrl">
	<toaster-container toaster-options="{'body-output-type':'trustedHtml'}"></toaster-container>
	<div class="section-header">
		<ol class="breadcrumb">
			<li class="active">Canned Reports</li>
		</ol>
	</div>
	<div class="section-body contain-lg">
		<!-- BEGIN DEFAULT TABLE -->
		<div class="row">
			<div class="col-md-12">
				<div class="card style-primary-light">
					<div class="card-head">
						<div class="tools">
							
						</div>
					</div>
					<div class="card-body style-default-bright">
						<div class="table-responsive">
							<table id="cannedReportsList" class="table table-striped table-hover dataTable no-footer" role="grid" datatable="ng" dt-options="dtOptions">
								<thead>
									<tr role="row">
										<th>Name</th>
										<th>Description</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="report in cannedReports">
										<td><a class="btn ink-reaction btn-flat btn-xs btn-primary" ui-sref="reportView({id:report.id})">{{report.name}}</a></td>
										<td>{{report.description}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--end .table-responsive -->
					</div>
					<!--end .card-body -->
				</div>
				<!--end .card -->
			</div>
			<!--end .col -->
		</div>
		<!--end .row -->
		<!-- END DEFAULT TABLE -->
	</div>
</section>
