<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-3">PI/RS/LAB</div>
            <div class="col-sm-9">
                <b ng-show="isChairman && details.status === 'PRE_REVIEW'" editable-select="details.piUser.id" onshow="loadPiUsers()" e-ng-options="g.id as g.firstName  for g in piUsers  | unique:'email'"
                onaftersave="updatePi($data)">{{details.piUser.firstName || "Select PI"}} {{details.piUser.lastName}}</b>
                <b ng-show="!isChairman || details.status !== 'PRE_REVIEW'">{{details.piUser.firstName || "Not Assigned"}} {{details.piUser.lastName}}</b>
            </div>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-3">Building/Room</div>
            <div class="col-sm-9">
                <b editable-text="details.protocolAdministrativeData.building" ng-show="isEditable" onaftersave="updateAdminstrativeData('building',$data)">{{details.protocolAdministrativeData.building || "Enter Building/Room"}}</b>
                <b ng-show="!isEditable">
                {{ details.protocolAdministrativeData.building}}
                </b>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-3">Telephone</div>
            <div class="col-sm-9">
                <b>
                {{details.piUser.phoneNumber || "Not Assigned"}}
                </b>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-3">Fax</div>
            <div class="col-sm-9">
                <b editable-tel="details.protocolAdministrativeData.fax" ng-show="isEditable" onaftersave="updateAdminstrativeData('fax',$data)"
                e-mask="999-999-9999" e-restrict="reject">{{details.protocolAdministrativeData.fax || "Enter Fax"}}</b>
                <b ng-show="!isEditable">
                {{ details.protocolAdministrativeData.fax}}
                </b>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-3">Email</div>
            <div class="col-sm-9">
                <b>
                {{details.piUser.email || "Not Assigned"}}
                </b>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-3">Client<span class="text-danger">*</span></div>
            <div class="col-sm-9">
                <b editable-text="details.protocolAdministrativeData.client" ng-show="isEditable" onaftersave="updateAdminstrativeData('client',$data)">{{details.protocolAdministrativeData.client || "Enter Client"}}</b>
                <b ng-show="!isEditable">
                {{ details.protocolAdministrativeData.client}}
                </b>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-3">Project Title<span class="text-danger">*</span></div>
            <div class="col-sm-9">
                <b editable-text="details.protocolAdministrativeData.projectTitle" ng-show="isEditable" onaftersave="updateAdminstrativeData('projectTitle',$data)">{{details.protocolAdministrativeData.projectTitle || "Enter Project Title"}}</b>
                <b ng-show="!isEditable">
                {{details.protocolAdministrativeData.projectTitle}}
                </b>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-3">
        <div class="checkbox checkbox-styled">
            <label>
                <input type="checkbox" value="" ng-model="isInitial" ng-checked ="isInitial"  ng-disabled="!isEditable" ng-change="updateAdminstrativeData('initialSubmission',isInitial)">
                <span>Initial Submission</span>
            </label>
        </div>
    </div>
    <div class="col-md-3">
        <div class="checkbox checkbox-styled" >
            <label>
                <input type="checkbox" value=""  ng-model="isModification" ng-checked="isModification"  ng-disabled="!isEditable" ng-change="updateAdminstrativeData('modification',isModification)">
                <span>Modifications</span>
            </label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="checkbox checkbox-styled">
            <label>
                <input type="checkbox" value="" ng-model="pSelected" ng-disabled="!isEditable">
                <span>Renewal of Proposal Number</span>&nbsp;&nbsp;&nbsp;
                <b editable-text="details.protocolAdministrativeData.renewalProposalNumber" ng-show="isEditable && pSelected" onaftersave="updateAdminstrativeData('renewalProposalNumber',$data)">{{details.protocolAdministrativeData.renewalProposalNumber || "Renewal of Proposal Number"}}</b>
                <b ng-show="!isEditable && details.protocolAdministrativeData.renewalProposalNumber != ''">
                {{details.protocolAdministrativeData.renewalProposalNumber}}
                </b>
            </label>
        </div>
    </div>
</div>
<br>
<div class="row">
    <label class="text-bold">List the names of all individuals authorized to conduct procedures involving animals under this proposal,</label>
    <select ui-select2  ng-model="details.protocolAdministrativeData.animalProceduresPersonals" multiple id="animalProceduresPersonalsUsers" ng-change="updateAdminstrativePersonals(details.protocolAdministrativeData.animalProceduresPersonals)"  data-placeholde="Select Role" class="form-control"  ng-disabled="!isEditable">
        <option ng-repeat="person in usersList" value="{{person.id}}">{{person.firstName}}  {{person.lastName}}</option>
        <option>Others</option>
    </select>
</div>
<div class="row">
    <label class="col-sm-3">PI doing hands-on animal work?</label>
    <div class="col-sm-9">
        <label class="radio-inline radio-styled">
            <input type="radio" name="inlineRadioOptions" value="true" ng-checked="details.protocolAdministrativeData.piHandsOnAnimalWork" ng-click="updateAdminstrativeData('piHandsOnAnimalWork',true)"><span>Yes</span>
        </label>
        <label class="radio-inline radio-styled">
            <input type="radio" name="inlineRadioOptions" value="false" ng-checked="!details.protocolAdministrativeData.piHandsOnAnimalWork" ng-click="updateAdminstrativeData('piHandsOnAnimalWork',false)"><span>No</span>
        </label>
        </div><!--end .col -->
    </div>
    <div class="row">
        <label class="text-bold">Co-investigator(s): (Maximum three investigators; Include affiliation)</label>
        <select ui-select2  ng-model="details.protocolAdministrativeData.coInvestigators" ng-change="updateAdminstrativecoInvestigators(details.protocolAdministrativeData.coInvestigators)" data-placeholde="Select Role" multiple class="form-control" ng-disabled="!isEditable">
            <option ng-repeat="person in usersList" value="{{person.id}}" >{{person.firstName}} {{person.lastName}}</option>
            <option>Others</option>
        </select>
    </div>
    <div class="row">
        <label class="text-bold">Other Personnel:</label>
        <select ui-select2  ng-model="details.protocolAdministrativeData.otherPersonals" ng-change="updateAdminstrativeotherPersonals(details.protocolAdministrativeData.otherPersonals)" data-placeholde="Select Role" multiple class="form-control" ng-disabled="!isEditable">
            <option ng-repeat="person in usersList" value="{{person.id}}">{{person.firstName}} {{person.lastName}}</option>
            <option>Others</option>
        </select>
        
    </div>