<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">Species<span class="text-danger">*</span></div>
            <div class="col-md-8">
                <b editable-select="animal.species" e-ng-options="s as s for s in speciesList" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id,'species',$data)">
                    {{animal.species || "Select species"}}
                </b>
                <b ng-show="!isEditable">
                    {{ animal.species}}
                </b>
            </div>
        </div>                                        
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">Stock/Strain</div>
            <div class="col-md-8">
                <b editable-text="animal.strain"  ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id,'strain',$data)">
                    {{animal.strain || "Enter Stock/Strain"}}
                </b>
                <b ng-show="!isEditable">
                    {{ animal.strain}}
                </b>
            </div>
        </div>                                        
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">Age/Weight/Size</div>
            <div class="col-md-8">
                <b editable-text="animal.age" e-pattern ="^\d+(\.\d{1,2})?$" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id,'age',$data)" title="this field allow Numeric values">
                    {{animal.age || "Enter Age/Weight/Size"}}
                </b>
                <b ng-show="!isEditable">
                    {{ animal.age}}
                </b>
            </div>
        </div>                                        
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">Sex<span class="text-danger">*</span></div>
            <div class="col-md-8">
                <b editable-select="animal.sex" e-ng-options="a.name as a.name for a in sexList" ng-show="isEditable"  onaftersave="updateAnimalRequirements(animal.id,'sex',$data)">
                    {{animal.sex || "Select sex"}}
                </b>
                <b ng-show="!isEditable">
                    {{ animal.sex}}
                </b>
            </div>
        </div>                                        
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">Source(s)</div>
            <div class="col-md-8">
                <b editable-text="animal.sources" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id,'sources',$data)">
                    {{animal.sources || "Enter Source"}}
                </b>
                <b ng-show="!isEditable">
                    {{ animal.sources}}
                </b>
            </div>
        </div>                                        
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">Animal Holding Location(s)</div>
            <div class="col-md-8">
                <b editable-text="animal.holdingLocations" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id,'holdingLocations',$data)">
                    {{animal.holdingLocations || "Enter Holding Location"}}
                </b>
                <b ng-show="!isEditable">
                    {{ animal.holdingLocations}}
                </b>
            </div>
        </div>                                        
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">Animal Procedure Location(s)</div>
            <div class="col-md-8">
                <b editable-text="animal.procedureLocations" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id,'procedureLocations',$data)">
                    {{animal.procedureLocations || "Enter Procedure Location(s)"}}
                </b>
                <b ng-show="!isEditable">
                    {{ animal.procedureLocations}}
                </b>
            </div>
        </div>                                        
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">Bacteriologic/Viral Status</div>
            <div class="col-md-8">
                 <b editable-select="animal.bacteriologyOrViral" e-ng-options="v.name as v.name for v in viralstatusList" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id,'bacteriologyOrViral',$data)">
                    {{animal.bacteriologyOrViral || "Select Bacteriologic/Viral Status"}}
                </b>
                <b ng-show="!isEditable">
                    {{ animal.bacteriologic}}
                </b>
            </div>
        </div>                                        
    </div>
    <div class="col-md-4">

    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-12 text-bold">
        Special Housing/Care Requirements
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">Special Water</div>
            <div class="col-md-8">
                <b editable-text="animal.specialWater" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id, 'specialWater', $data)">
                    {{animal.specialWater || "none"}}
                </b>
                <b ng-show="!isEditable">
                    {{ animal.specialWater}}
                </b>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">Special Diet</div>
            <div class="col-md-8">
                <b editable-text="animal.specialDiet" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id, 'specialDiet', $data)">
                    {{animal.specialDiet || "none"}}
                </b>
                <b ng-show="!isEditable">
                    {{ animal.specialDiet}}
                </b>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">Special Bedding</div>
            <div class="col-md-8">
                <b editable-text="animal.specialBedding" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id, 'specialBedding', $data)">
                    {{animal.specialBedding || "none"}}
                </b>
                <b ng-show="!isEditable">
                    {{ animal.specialBedding}}
                </b>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-8 col-sm-12">
        <div class="row">
            <div class="col-md-4">Environmental Requirements</div>
            <div class="col-md-4">
                <b editable-number="animal.environmentalRequirementsF" e-min="0" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id, 'environmentalRequirementsF', $data)">
                    {{animal.environmentalRequirementsF || "Enter details"}}
                </b>
                <b ng-show="!isEditable">
                    {{animal.environmentalRequirementsF}}
                </b><sup>o</sup>F
            </div>
            <div class="col-md-4">
                <b editable-number="animal.environmentalRequirementsRh"e-min="0" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id, 'environmentalRequirementsRh', $data)">
                    {{animal.environmentalRequirementsRh || "Enter details"}}
                </b>
                <b ng-show="!isEditable">
                    {{animal.environmentalRequirementsRh}}
                </b>%Rh
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-8 col-sm-12">
        <div class="row">
            <div class="col-md-4">Light Cycle Requirements:</div>
            <div class="col-md-8">
                <b editable-text="animal.lifeCycleRequirementsHoursOn" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id, 'lifeCycleRequirementsHoursOn', $data)">
                    {{animal.lifeCycleRequirementsHoursOn || "Enter Hours"}}
                </b>
                <b ng-show="!isEditable">
                    {{animal.lifeCycleRequirementsHoursOn}}
                </b> HOURS ON
                <b editable-number="animal.lifeCycleRequirementsHoursOff" e-min="0" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id, 'lifeCycleRequirementsHoursOff', $data)">
                    {{animal.lifeCycleRequirementsHoursOff || "Enter Hours"}}
                </b>
                <b ng-show="!isEditable">
                    {{animal.lifeCycleRequirementsHoursOff}}
                </b>HOURS OFF
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">Special Lighting</div>
            <div class="col-md-8">
                <b editable-text="animal.specialLightning" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id, 'specialLightning', $data)">
                    {{animal.specialLightning || "none"}}
                </b>
                <b ng-show="!isEditable">
                    {{ animal.specialLightning}}
                </b>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">Animals Irradiated</div>
            <div class="col-md-8">
                <b editable-radiolist="animal.animalsIrradiated" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id, 'animalsIrradiated', $data)" e-ng-options="s.value as s.text for s in radioYesNo">
                    {{showStatus(animal.animalsIrradiated)}}
                </b>
                <b ng-show="!isEditable">
                    {{showStatus(animal.animalsIrradiated)}}
                </b>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">Special Caging and/or Equipment</div>
            <div class="col-md-8">
                <b editable-text="animal.specialCagingEquipment" ng-show="isEditable" onaftersave="updateAnimalRequirements(animal.id, 'specialCagingEquipment', $data)">
                    {{animal.specialCagingEquipment || "none"}}
                </b>
                <b ng-show="!isEditable">
                    {{ animal.specialCagingEquipment}}
                </b>
            </div>
        </div>
    </div>
</div>
<br>
<table class="table no-margin">
    <thead>
        <tr>
            <th>Species</th>
            <th>Year1</th>
            <th>Year2</th>
            <th>Year3</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <span>{{animal.species}}</span>
            </td>
            <td>
                <span editable-number="animal.numberOfAnimals.year1" onaftersave="updatenumberOfAnimals(animal.id,animal.numberOfAnimals.id,'year1',$data)">{{animal.numberOfAnimals.year1}}</span>
            </td>
            <td>
                <span editable-number="animal.numberOfAnimals.year2" onaftersave="updatenumberOfAnimals(animal.id,animal.numberOfAnimals.id,'year2',$data)">{{animal.numberOfAnimals.year2}}</span>
            </td>
            <td>
                <span editable-number="animal.numberOfAnimals.year3" onaftersave="updatenumberOfAnimals(animal.id,animal.numberOfAnimals.id,'year3',$data)">{{animal.numberOfAnimals.year3}}</span>
            </td>
            <td>
                <span>{{animalsTotal(animal.numberOfAnimals)}}</span>
            </td>
        </tr>
    </tbody>
</table>