﻿<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">Review Type:</label>
        <div class="col-sm-9">
            <label class="radio-inline radio-styled radio-primary">
                <input type="radio" name="reviewType" ng-model="details.isDesignatedMemberReview" value="true" ng-checked="details.isDesignatedMemberReview" ng-disabled="!isChairman || details.status === 'REVIEW' || details.status === 'APPROVED'" ng-change="updateReviewType('isDesignatedMemberReview',details.isDesignatedMemberReview)"><span>Designated Member Review</span>
            </label>
            <label class="radio-inline radio-styled radio-primary">
                <input type="radio" name="reviewType" ng-model="details.isDesignatedMemberReview" ng-checked="!details.isDesignatedMemberReview" value="false" ng-disabled="!isChairman || details.status === 'REVIEW' || details.status === 'APPROVED'" ng-change="updateReviewType('isDesignatedMemberReview',details.isDesignatedMemberReview)"><span>Full Committe Member Review</span>
            </label>
        </div><!--end .col -->
    </div><!--end .form-group -->
</div>
<div class="row" ng-if="details.isDesignatedMemberReview">
    <ul class="list divider-full-bleed">
        <li class="tile" ng-show="details.review.userNames.length > 0">
            <a class="tile-content ink-reaction">
                <div class="tile-text">
                    <label class="text-bold">DMR User: </label> {{details.review.userNames[0]}}
                </div>
            </a>
        </li>
    </ul>
</div>
<div class="row" ng-if="details.isDesignatedMemberReview" ng-hide="details.review.userNames.length > 0">
    <div class="col-md-2">
        <label class="text-bold">DMR User: </label>
    </div>
    <div ng-show="!isChairman">{{details.dmrUsername || details.otherUsername}}</div>
    <div class="col-xs-5" ng-show="isChairman">
        <select ui-select2 ng-model="details.dmrUsername" data-placeholder="Select User" class="form-control">
            <option ng-repeat="person in committeeMembers">{{person.firstName}} {{person.lastName}}</option>
            <option>Others</option>
        </select>
    </div>
    <div class="col-xs-5" ng-show="details.dmrUsername == 'Others' && isChairman">
        <input type="text" name="name" class="form-control" ng-model="user.otherUsername" placeholder="Enter name of the user" />
    </div>
</div>

<div class="row" ng-hide="details.isDesignatedMemberReview">
    <div ng-show="review.userNames.length <= 0">No members added yet.</div>
    <ul class="list divider-full-bleed">
        <li class="tile" ng-repeat="member in details.review.userNames">
            <a class="tile-content ink-reaction">
                <div class="tile-text" ng-show="!member.isEditable">
                    {{member}}
                </div>
                <div ng-show="member.isEditable" class="col-xs-12">
                    <div class="col-xs-7">
                        <select ui-select2 ng-model="member" data-placeholder="Select User" class="form-control">
                            <option ng-repeat="person in usersList">{{person.firstName}} {{person.lastName}}</option>
                            <option>Others</option>
                        </select>
                    </div>
                </div>
            </a>
            <a class="btn btn-flat ink-reaction" ng-click="member.isEditable = true" ng-show="!member.isEditable && isCharman">
                <i class="fa fa-pencil"></i>
            </a>
            <a class="btn btn-flat ink-reaction" ng-click="member.isEditable = false" ng-show="member.isEditable && isCharman">
                <i class="fa fa-check"></i>
            </a>
            <a class="btn btn-flat ink-reaction" ng-click="member.isEditable = false" ng-show="member.isEditable && isCharman">
                <i class="fa fa-times"></i>
            </a>
        </li>
    </ul>
</div>