<div class="row">
    <div class="col-md-12">
        <h4>{{details.comments.length || 0}} Comments</h4>
        <ul class="list-comments">
            <li ng-repeat="comment in details.comments">
                <div class="card">
                    <div class="comment-avatar"><i class="glyphicon glyphicon-user opacity-50"></i></div>
                    <div class="card-body">
                        <h4 class="comment-title text-bold">{{getCommentsusername(comment.comment)}}<small>{{comment.addedDate | date:'MM/dd/yyyy'}}</small></h4>
                        <p>{{getCommentsText(comment.comment)}}</p>
                    </div>
                </div><!--end .card -->
            </li><!-- end comment -->                        
        </ul>
    </div><!--end .col -->
</div>
<div class="row" ng-if="details.status !== 'APPROVED'">
    <div class="col-md-12">
        <h4>Leave a comment</h4>
        <form class="form-horizontal" role="form" ng-submit="addUserComment(newUserCommentText)">                        
            <div class="form-group">
                <div class="col-md-2">
                    <label for="textarea1" class="control-label">Comment</label>
                </div>
                <div class="col-md-10">
                    <textarea name="textarea1" id="textarea1" class="form-control autosize" rows="3" placeholder="Leave a comment" ng-model="newUserCommentText"></textarea><div class="form-control-line"></div>
                </div>
            </div>
            <div class="form-footer col-md-offset-2">
                <button type="submit" class="btn btn-primary">Post comment</button>
            </div>
        </form>
    </div><!--end .col -->
</div>