<section ng-controller="ProcedureListCtrl as proc">
    <toaster-container toaster-options="{'bodyOutputType':'trustedHtml'}"></toaster-container>
    <div class="section-header">
        <ol class="breadcrumb">
            <li class="active">Clinical Procedures</li>
        </ol>
    </div>
    <div class="section-body contain-lg">
        <!-- BEGIN DEFAULT TABLE -->
        <div class="row">
            <div class="col-md-12">
                <div class="card style-primary-light">
                    <div class="card-head">
                        <div class="tools" ng-if="isVetDoc">
                            <div class="btn-group">
                                <a class="btn btn-floating-action btn-default-light ink-reaction" ui-sref="procedure-create" ng-show="isVetDoc"><i class="md md-add"></i></a>
                            </div>
                        </div>
                        <ul class="nav nav-tabs tabs-text-contrast tabs-info" data-toggle="tabs" ui-tabs>
                            <li class="active">
                                <a href="#procedureList" ng-click="selectedTab = 'LIST'">List</a>
                            </li>
                            <li>
                                <a href="#procedureSchedules" ng-click="selectedTab = 'SCHEDULES';renderStudyCalendar();">Cloning view</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body style-default-bright tab-content">
                        <div id="procedureList" class="tab-pane active">
                            <div class="table-responsive">
                                <table id="procList" class="table table-striped table-hover dataTable no-footer" role="grid" datatable="ng" dt-options="dtOptions">
                                    <thead>
                                        <tr role="row">
                                            <th>Procedure Number</th>
                                            <th>Type</th>
                                            <th>Vet Tec</th>
                                            <th>Generic Name</th>
                                            <th>Concentration</th>
                                            <th>Dosage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="proc in proceduresList">
                                            <td><a class="text-primary" ui-sref="procedure-details({id:proc.id})">{{proc.id || '' | zpad:4}}</a></td>
                                            <td>{{proc.procedureType}}</td>
                                            <td>{{proc.vetTechnician.firstName}} {{proc.vetTechnician.lastName}}</td>
                                            <td>{{proc.treatment.genericName}}</td>
                                            <td>{{proc.treatment.concentration}} {{proc.treatment.concentrationUnit}}</td>
                                            <td>{{proc.treatment.dosage}} {{proc.treatment.dosageUnit}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="procedureSchedules" class="tab-pane">
                            <div class="card">
                                <div class="card-head style-primary">
                                    <header>
                                        <span class="selected-day">{{selectedScheduleDay}}</span>
                                    </header>
                                    <div class="tools hidden-xs">
                                        <div class="btn-group">
                                            <a id="calender-prev" class="btn btn-icon-toggle ink-reaction" ng-click="prevDay('studyScheduleCalendar')"><i class="fa fa-angle-left"></i></a>
                                            <a id="calender-next" class="btn btn-icon-toggle ink-reaction" ng-click="nextDay('studyScheduleCalendar')"><i class="fa fa-angle-right"></i></a>
                                        </div>
                                        <div class="btn-group pull-right">
                                        </div>
                                    </div>
                                </div>
                                <!--end .card-head -->
                                <div class="card-body no-padding">
                                    <div ui-calendar="uiConfig.studyCalendar" ng-model="studySchedules" calendar="studyScheduleCalendar"></div>
                                    <div class="modal fade" id="studyScheduleModal">
                                        <div class="modal-dialog modal-md">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title">Clone schedules for - {{selectedScheduleDay | date:'mm/dd/yyyy'}}</h4>
                                                </div>
                                                <form class="floating-label" ng-submit="cloneStudySchedules()">
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label for="dateToClone" class="col-sm-4 control-label">Date to Clone</label>
                                                                    <div class="col-sm-8">
                                                                        <input type="text" class="form-control" id="dateToClone" ng-model="$parent.dateToClone" placeholder="Select Date" date-time min-view="date" view="date" format="MM/dd/yyyy" auto-close="true">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Clone</button>
                                                    </div>
                                                </form>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end .card-body -->
                </div>
                <!--end .card -->
            </div>
            <!--end .col -->
        </div>
        <!--end .row -->
        <!-- END DEFAULT TABLE -->
    </div>
    <!--end .section-body -->
</section>