﻿<!DOCTYPE html>
<html ng-app="ardxx">

<head>
    <title update-title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        [ng-cloak], .ng-cloak {
            display: block !important;
        }
    </style>
    <link rel="icon" type="image/png" href="/assets/img/modules/app/icon.png" />
    <link href="app.less" type="text/css" rel="stylesheet/less">
</head>

<body class="menubar-hoverable header-fixed ng-clock" ng-cloak="">
    <!-- BEGIN HEADER-->
    <header id="header" ng-if="userAuthenticated" class="hidden-print">
        <div class="headerbar">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="headerbar-left">
                <ul class="header-nav header-nav-options">
                    <li class="header-nav-brand">
                        <div class="brand-holder">
                            <a ui-sref="dashboard">
                                <span class="text-lg text-bold text-primary">ARDXX - {{buildEnv}}</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="headerbar-right">
                <!--<ul class="header-nav header-nav-options">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="btn btn-icon-toggle btn-default" data-toggle="dropdown">
                            <i class="fa fa-bell"></i><sup class="badge style-danger">{{(protocols | filter:{status: filterCriteria}:filterCriteriaSpecific).length}}</sup>
                        </a>
                        <ul class="dropdown-menu animation-expand">
                            <li class="dropdown-header">Protocols</li>
                            <li ng-repeat="protocol in protocols | filter:{status: filterCriteria}:filterCriteriaSpecific">
                                <a class="alert alert-callout alert-warning" ui-sref="protocolDetails({id:protocol.id,type:'edit'})">
                                    <strong>{{protocol.id | zpad:5}}</strong><br />
                                    <small>{{protocol.title}}</small>
                                </a>
                            </li>
                            <li class="dropdown-header">Options</li>
                            <li>
                                <a ui-sref="protocol-list">View all protocols <span class="pull-right"><i class="fa fa-arrow-right"></i></span></a>
                            </li>
                        </ul>
                    </li>                    
                </ul>-->
                <!--end .header-nav-options -->
                <ul class="header-nav header-nav-profile">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
                            <img src="assets/img/profiles/user.png" alt="" />
                            <span class="profile-info">
                                {{currentUser.firstName}} {{currentUser.lastName}}
                                <small>{{currentUser.role.join()}}</small>
                            </span>
                        </a>
                        <ul class="dropdown-menu animation-dock">
                            <li class="dropdown-header">Config</li>
                            <li>
                                <a ui-sref="myProfile">My profile</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a ui-sref="logout"><i class="fa fa-fw fa-power-off text-danger"></i>Logout</a>
                            </li>
                        </ul>
                        <!--end .dropdown-menu -->
                    </li>
                    <!--end .dropdown -->
                </ul>
                <!--end .header-nav-profile -->
            </div>
            <!--end #header-navbar-collapse -->
        </div>
    </header>
    <!-- END HEADER-->
    <!-- BEGIN BASE-->
    <div id="base" ng-class="" update-bodyclass>
        <!-- BEGIN OFFCANVAS LEFT -->
        <div class="offcanvas"></div>
        <!--end .offcanvas-->
        <!-- END OFFCANVAS LEFT -->
        <!-- BEGIN CONTENT-->
        <div id="content" ui-view></div>
        <!--end #content-->
        <!-- END CONTENT -->
        <!-- BEGIN MENUBAR-->
        <div id="menubar" class="menubar-inverse hidden-print" ng-if="userAuthenticated" app-menu>
            <div class="menubar-fixed-panel">
                <div>
                    <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <div class="expanded">
                    <a ui-sref="dashboard">
                        <span class="text-lg text-bold text-primary ">ARDXX</span>
                    </a>
                </div>
            </div>
            <div class="menubar-scroll-panel">
                <!-- BEGIN MAIN MENU -->
                <ul id="main-menu" class="gui-controls">
                    <!-- BEGIN HOME -->
                    <li>
                        <a ui-sref="dashboard">
                            <div class="gui-icon"><i class="md md-home"></i></div>
                            <span class="title">Home</span>
                        </a>
                    </li>
                    <!--end /menu-li -->
                    <!-- END HOME -->
                    <li>
                        <a ui-sref="users-list">
                            <div class="gui-icon"><i class="md md-perm-contact-cal"></i></div>
                            <span class="title">Users</span>
                        </a>
                    </li>
                    <!-- BEGIN PROTOCOLS -->
                    <!-- BEGIN HOME -->
                    <li>
                        <a ui-sref="protocol-list">
                            <div class="gui-icon"><i class="glyphicon glyphicon-list-alt"></i></div>
                            <span class="title">Protocols</span>
                        </a>
                    </li>
                    <!--end /menu-li -->
                    <!-- END PROTOCOLS -->
                    <li>
                        <a ui-sref="animal-list">
                            <div class="gui-icon"><i class="fa fa-paw"></i></div>
                            <span class="title">Animals</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a ui-sref="study-list">
                            <div class="gui-icon"><i class="fa fa-heartbeat"></i></div>
                            <span class="title">Studies</span>
                        </a>
                    </li> -->
                    <li class="gui-folder">
                        <a href="javascript:void(0);">
                            <div class="gui-icon"><i class="fa fa-calendar-o"></i></div>
                            <span class="title">Procedures</span>
                        </a>
                        <ul>
                            <li><a ui-sref="procedure-list"><span class="title">Clinical</span></a></li>
                            <li><a ui-sref="study-list"><span class="title">Research</span></a></li>
                        </ul>
                    </li>
                    <li class="gui-folder">
                        <a href="javascript:void(0);">
                            <div class="gui-icon"><i class="fa fa-cubes"></i></div>
                            <span class="title">Queries</span>
                        </a>
                        <ul>
                            <li><a ui-sref="querybuilder"><span class="title">Dynamic</span></a></li>
                            <li><a ui-sref="cannedlist"><span class="title">Canned</span></a></li>
                        </ul>
                    </li>
                </ul>
                <!--end .main-menu -->
                <!-- END MAIN MENU -->
            </div>
            <!--end .menubar-scroll-panel-->
        </div>
        <!--end #menubar-->
        <!-- END MENUBAR -->
        <!-- BEGIN OFFCANVAS RIGHT -->
        <div class="offcanvas"></div>
        <!--end .offcanvas-->
        <!-- END OFFCANVAS RIGHT -->
    </div>
    <!--end #base-->
    <!-- END BASE -->
    <!-- Livereload script for development only (stripped during dist build) -->
    <script src="http://localhost:35729/livereload.js" data-concat="false"></script>
    <!-- JS from Bower Components -->
    <script data-includein="vendor" src="bower_components/less.js/dist/less-1.6.2.js" data-concat="false"></script>
    <script data-includein="vendor" src="bower_components/jquery/jquery.js"></script>
    <script data-includein="vendor" src="bower_components/datatables/media/js/jquery.dataTables.js"></script>
    <script data-includein="vendor" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script data-includein="vendor" src="bower_components/underscore/underscore.js"></script>
    <script data-includein="vendor" src="bower_components/moment/moment.js"></script>
    <script data-includein="vendor" src="bower_components/angular/angular.js"></script>
    <script data-includein="vendor" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script data-includein="vendor" src="bower_components/angular-animate/angular-animate.js"></script>
    <script data-includein="vendor" src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script data-includein="vendor" src="bower_components/angular-resource/angular-resource.js"></script>
    <script data-includein="vendor" src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script data-includein="vendor" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script data-includein="vendor" src="bower_components/angular-ui-utils/ui-utils.js"></script>
    <script data-includein="vendor" src="bower_components/angular-datatables/dist/angular-datatables.js"></script>
    <script data-includein="vendor" src="assets/js/DataTables-1.10.6/extensions/ColVis/js/dataTables.colVis.js"></script>
    <script data-includein="vendor" src="bower_components/angular-datatables/dist/plugins/colvis/angular-datatables.colvis.js"></script>
    <script data-includein="vendor" src="assets/js/DataTables-1.10.6/extensions/TableTools/js/dataTables.tableTools.js"></script>
    <script data-includein="vendor" src="assets/js/DataTables-1.10.6/extensions/Responsive/js/dataTables.responsive.js"></script>
    <script data-includein="vendor" src="bower_components/angular-datatables/dist/plugins/tabletools/angular-datatables.tabletools.js"></script>
    <script data-includein="vendor" src="assets/js/DataTables-1.10.6/extensions/dataTables.columnfilter.js"></script>
    <script data-includein="vendor" src="bower_components/angular-datatables/dist/plugins/columnfilter/angular-datatables.columnfilter.js"></script>
    <script data-includein="vendor" src="bower_components/angular-mask/dist/ngMask.js"></script>
    <script data-includein="vendor" src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script data-includein="vendor" src="bower_components/angularjs-toaster/toaster.js"></script>
    <script data-includein="vendor" src="bower_components/select2/select2.js"></script>
    <script data-includein="vendor" src="bower_components/angular-ui-select2/src/select2.js"></script>
    <script data-includein="vendor" src="bower_components/d3/d3.js"></script>
    <script data-includein="vendor" src="bower_components/c3/c3.js"></script>
    <script data-includein="vendor" src="bower_components/c3-angular/c3js-directive.js"></script>
    <script data-includein="vendor" src="bower_components/angular-moment/angular-moment.js"></script>
    <script data-includein="vendor" src="bower_components/angular-datepicker/dist/angular-datepicker.js"></script>
	<script data-includein="vendor" src="bower_components/angular-datepicker/dist/index.js"></script>
    <script data-includein="vendor" src="bower_components/ng-csv/build/ng-csv.js"></script>
    <script data-includein="vendor" src="bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script data-includein="vendor" src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script data-includein="vendor" src="bower_components/fullcalendar/dist/gcal.js"></script>
    <script data-includein="vendor" src="bower_components/angular-strap/dist/angular-strap.js"></script>
    <script data-includein="vendor" src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
    <script data-includein="vendor" src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script data-includein="vendor" src="bower_components/angular-dragdrop/src/angular-dragdrop.js"></script>
    <script data-includein="vendor" src="bower_components/angular-smart-table/dist/smart-table.js"></script>
    <script data-includein="vendor" src="bower_components/pivottable/dist/pivot.js"></script>
    <script data-includein="vendor" src="bower_components/taffydb/taffy.js"></script>
    <!-- Add New Bower Component JS Above -->
    <script data-includein="vendor" src="assets/js/jquery-migrate-1.2.1.js"></script>
    <script data-includein="vendor" type="text/javascript" src="assets/js/spin/spin.js"></script>
    <script data-includein="vendor" src="assets/js/autosize/autosize.js"></script>
    <script data-includein="vendor" src="assets/js/nanoscroller/jquery.nanoscroller.js"></script>
    <script data-includein="vendor" src="assets/js/jsPDF/jspdf.source.js"></script>
    <!-- JS from Core -->
    <script data-includein="core" src="assets/js/core/App.js"></script>
    <script data-includein="core" src="assets/js/core/AppCard.js"></script>
    <script data-includein="core" src="assets/js/core/AppForm.js"></script>
    <script data-includein="core" src="assets/js/core/AppNavigation.js"></script>
    <script data-includein="core" src="assets/js/core/AppNavSearch.js"></script>
    <script data-includein="core" src="assets/js/core/AppOffcanvas.js"></script>
    <script data-includein="core" src="assets/js/core/AppVendor.js"></script>
    <!-- Add New Core Component JS Above -->
    <!-- Main App JS -->
    <script data-includein="app" src="app.js"></script>
    <script data-includein="app" src="protocol/protocol.js"></script>
    <script data-includein="app" src="protocol/partial/protocol-list/protocol-list.js"></script>
    <script data-includein="app" src="directive/updateTitle.js"></script>
    <script data-includein="app" src="protocol/service/protocolService.js"></script>
    <script data-includein="app" src="protocol/partial/protocolDetails/protocolDetails.js"></script>
    <script data-includein="app" src="login/login.js"></script>
    <script data-includein="app" src="login/partial/login/login.js"></script>
    <script data-includein="app" src="login/partial/logout/logout.js"></script>
    <script data-includein="app" src="login/service/authenticationService.js"></script>
    <script data-includein="app" src="service/Base64.js"></script>
    <script data-includein="app" src="directive/floating-input.js"></script>
    <script data-includein="app" src="protocol/service/pdfService.js"></script>
    <script data-includein="app" src="users/users.js"></script>
    <script data-includein="app" src="users/service/user.js"></script>
    <script data-includein="app" src="animals/animals.js"></script>
    <script data-includein="app" src="animals/partial/animal-list/animal-list.js"></script>
    <script data-includein="app" src="users/partial/users-list/users-list.js"></script>
    <script data-includein="app" src="procedures/procedures.js"></script>
    <script data-includein="app" src="procedures/partial/procedures-list/procedures-list.js"></script>
    <script data-includein="app" src="dashboard/dashboard.js"></script>
    <script data-includein="app" src="dashboard/partial/dashboard/dashboard.js"></script>
    <script data-includein="app" src="users/partial/userProfile/userProfile.js"></script>
    <script data-includein="app" src="animals/service/animals.js"></script>
    <script data-includein="app" src="directive/fileReader.js"></script>
    <script data-includein="app" src="animals/partial/animalResults/animalResults.js"></script>
    <script data-includein="app" src="animals/partial/animalDetails/animalDetails.js"></script>
    <script data-includein="app" src="animals/service/testResultsService.js"></script>
    <script src="service/configService.js"></script>
    <script src="error/error.js"></script>
    <script src="error/partial/error500/error500.js"></script>
    <script src="error/partial/error404/error404.js"></script>
    <script src="error/partial/errorService/errorService.js"></script>
    <script src="directive/valid-password.js"></script>
    <script src="directive/pattern-validation.js"></script>
    <script src="study/study.js"></script>
    <script src="study/partial/study-list/study-list.js"></script>
    <script src="study/partial/studyDetails/studyDetails.js"></script>
    <script src="study/service/studyService.js"></script>
    <script src="study/partial/procedureDetails/procedureDetails.js"></script>
    <script src="clinicalProcedures/clinicalProcedures.js"></script>
    <script src="clinicalProcedures/partial/procedure-list/procedure-list.js"></script>
    <script src="clinicalProcedures/partial/procedure-create/procedure-create.js"></script>
    <script src="clinicalProcedures/partial/procedure-details/procedure-details.js"></script>
    <script src="reports/reports.js"></script>
    <script src="reports/partial/querybuilder/querybuilder.js"></script>
    <script src="reports/service/reportService.js"></script>
    <script src="reports/partial/cannedlist/cannedlist.js"></script>
    <script src="reports/partial/reportView/reportView.js"></script>
    <!-- Add New Component JS Above -->
</body>

</html>
