<section ng-controller="Error500Ctrl">
	<div class="section-header">
		<ol class="breadcrumb">
			
		</ol>
	</div>
	<div class="section-body contain-lg">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h1>
					<span class="text-xxxl text-light">Error
						<i class="fa fa-exclamation-circle text-danger"></i>
					</span>
				</h1>
				<h2 class="text-light">Oops! Something went wrong</h2>
			</div>
			<!--end .col -->
		</div>
		<!--end .row -->
	</div>
	<!--end .section-body -->
</section>