<section ng-controller="ReportviewCtrl">
	<toaster-container toaster-options="{'body-output-type':'trustedHtml'}"></toaster-container>
	<div class="section-header">
		<ol class="breadcrumb">
			<li class="active">{{reportName}}</li>
		</ol>
	</div>
	<div class="section-body contain-lg">
		<!-- BEGIN DEFAULT TABLE -->
		<div class="row">
			<div class="col-md-12">
				<div class="card style-primary-light">
					<div class="card-head">
						<div class="tools">
							<a class="btn btn-flat hidden-xs" ui-sref="cannedlist"><span class="glyphicon glyphicon-arrow-left"></span> &nbsp;Back to list</a>
						</div>
					</div>
					<div class="card-body style-default-bright">
						<form class="form well" ng-submit="getReportResult()" ng-show="reportId !== 7">
                            <div class="form-group">
                                <div class="input-daterange input-group" id="demo-date-range" ng-show="reportId === 5">
                                	<div class="input-group-content">
                                        <input type="text" class="form-control" ng-model="searchid">
                                        <label>{{searchidName}}</label>
                                    </div>
                                    <span class="input-group-addon"></span>
                                    <div class="input-group-content">
                                        <input type="text" class="form-control" ng-model="reportInput.fromDate" name="fromDate" date-time min-view="date" view="date" format="MM/dd/yyyy"
                                        auto-close="true">
                                        <label for="fromDate">Date range</label>
                                    </div>
                                    <span class="input-group-addon">to</span>
                                    <div class="input-group-content">
                                        <input type="text" class="form-control" ng-model="reportInput.toDate" name="toDate" date-time min-view="date" view="date" format="MM/dd/yyyy"
                                        auto-close="true">
                                        <div class="form-control-line"></div>
                                    </div>
                                </div>
                                <div class="row" ng-show="reportId !== 5">
                                	<div class="col-md-12">
                                		<div class="form-group floating-label" >
                                            <input type="text" class="form-control" id="searchidin" floating-input="" name="searchidin" ng-model="searchid">
                                            <label for="searchidin">{{searchidName}}</label>
                                        </div>
                                	</div>
                                </div>
                            </div>
                            <div class="row text-right">
                                <button type="submit" class="btn btn-raised btn-primary ink-reaction">Search</button>
                            </div>
                        </form>
						<div class="table-responsive canned-reports" ng-show="isSearched">
							<table style="width:100%" id="cannedReportDetails" class="table table-striped table-hover" role="grid" datatable="ng" dt-options="dtOptions">
								<thead>
									<tr role="row" ng-hide="reportResult.length <= 0">
										<th ng-show="false"></th>
										<th ng-if="reportId === 1">Room</th>
										<th ng-if="reportId === 1">Date Entered</th>
										<th ng-if="reportId === 1">Date Exit</th>
										<th ng-if="reportId === 2 || reportId === 4 || reportId === 3 || reportId === 5">Animal Id</th>
										<th ng-if="reportId === 2">File Id</th>
										<th ng-if="reportId === 2">Sex</th>
										<th ng-if="reportId === 4">Weight</th>
										<th ng-if="reportId === 3">Collected Date</th>
										<th ng-if="reportId === 3">WBC</th>
										<th ng-if="reportId === 3">RBC</th>
										<th ng-if="reportId === 3">HGB</th>
										<th ng-if="reportId === 3">HCT</th>
										<th ng-if="reportId === 3">MCV</th>
										<th ng-if="reportId === 3">MCH</th>
										<th ng-if="reportId === 3">MCHC</th>
										<th ng-if="reportId === 3">NRBC</th>
										<th ng-if="reportId === 3">Neutrophil Seg</th>
										<th ng-if="reportId === 3">Neutrophil Band</th>
										<th ng-if="reportId === 3">Lymphocyte</th>
										<th ng-if="reportId === 3">Monocyte</th>
										<th ng-if="reportId === 3">Eosinophil</th>
										<th ng-if="reportId === 3">Basophil</th>
										<th ng-if="reportId === 3">Metamyelocyte</th>
										<th ng-if="reportId === 3">Myelocyte</th>
										<th ng-if="reportId === 3">Promyelocyte</th>
										<th ng-if="reportId === 3">Platelet Estimate</th>
										<th ng-if="reportId === 3">Polychromasia</th>
										<th ng-if="reportId === 3">Anisocytosis</th>
										<th ng-if="reportId === 3">Poikilocytosis</th>
										<th ng-if="reportId === 3">Heinz Bodies</th>
										<th ng-if="reportId === 3">Remarks</th>
										<th ng-if="reportId === 3">Absolute Neutrophil Seg</th>
										<th ng-if="reportId === 3">Absolute Neutrophil Band</th>
										<th ng-if="reportId === 3">Absolute Lymphocyte</th>
										<th ng-if="reportId === 3">Absolute Monocyte</th>
										<th ng-if="reportId === 3">Absolute Eosinophil</th>
										<th ng-if="reportId === 3">Absolute Basophil</th>
										<th ng-if="reportId === 3">Absolute Metamyelocytes</th>
										<th ng-if="reportId === 3">Absolute Promyelocytes</th>
										<th ng-if="reportId === 3">Platelet Count</th>
										<th ng-if="reportId === 5">Days</th>
										<th ng-if="reportId === 6">Treatment</th>
										<th ng-if="reportId === 5 || reportId === 6">Start Date</th>
										<th ng-if="reportId === 5 || reportId === 6">End Date</th>
										<th ng-if="reportId === 7">Animal ID</th>
										<th ng-if="reportId === 7">Sex</th>
										<th ng-if="reportId === 7">A01</th>
										<th ng-if="reportId === 7">DOB</th>
										<th ng-if="reportId === 7">Weight</th>
										<th ng-if="reportId === 7">File</th>
										<th ng-if="reportId === 7">Protocol</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="report in reportResult">
										<td ng-show="false"></td>
										<td ng-if="reportId === 1">{{report.room}}</td>
										<td ng-if="reportId === 1">{{report.dateEntered | date : 'MM/dd/yyyy'}}</td>
										<td ng-if="reportId === 1">{{report.dateExit | date : 'MM/dd/yyyy'}}</td>
										<td ng-if="reportId === 2 || reportId === 4 || reportId === 3 || reportId === 5">{{report.animalId}}</td>
										<td ng-if="reportId === 2">{{report.fileId}}</td>
										<td ng-if="reportId === 2">{{report.sex}}</td>
										<td ng-if="reportId === 4">{{report.weights}}</td>
										<td ng-if="reportId === 3">{{report.collectedDate | date : 'MM/dd/yyyy'}}</td>
										<td ng-if="reportId === 3">{{report.wbc}}</td>
										<td ng-if="reportId === 3">{{report.rbc}}</td>
										<td ng-if="reportId === 3">{{report.hgb}}</td>
										<td ng-if="reportId === 3">{{report.hct}}</td>
										<td ng-if="reportId === 3">{{report.mcv}}</td>
										<td ng-if="reportId === 3">{{report.mch}}</td>
										<td ng-if="reportId === 3">{{report.mchc}}</td>
										<td ng-if="reportId === 3">{{report.nrbc}}</td>
										<td ng-if="reportId === 3">{{report.neutrophilSeg}}</td>
										<td ng-if="reportId === 3">{{report.neutrophilBand}}</td>
										<td ng-if="reportId === 3">{{report.lymphocyte}}</td>
										<td ng-if="reportId === 3">{{report.monocyte}}</td>
										<td ng-if="reportId === 3">{{report.eosinophil}}</td>
										<td ng-if="reportId === 3">{{report.basophil}}</td>
										<td ng-if="reportId === 3">{{report.metamyelocyte}}</td>
										<td ng-if="reportId === 3">{{report.myelocyte}}</td>
										<td ng-if="reportId === 3">{{report.promyelocyte}}</td>
										<td ng-if="reportId === 3">{{report.plateletEstimate}}</td>
										<td ng-if="reportId === 3">{{report.polychromasia}}</td>
										<td ng-if="reportId === 3">{{report.anisocytosis}}</td>
										<td ng-if="reportId === 3">{{report.poikilocytosis}}</td>
										<td ng-if="reportId === 3">{{report.heinzBodies}}</td>
										<td ng-if="reportId === 3">{{report.remarks}}</td>
										<td ng-if="reportId === 3">{{report.absoluteNeutrophilSeg}}</td>
										<td ng-if="reportId === 3">{{report.absoluteNeutrophilBand}}</td>
										<td ng-if="reportId === 3">{{report.absoluteLymphocyte}}</td>
										<td ng-if="reportId === 3">{{report.absoluteMonocyte}}</td>
										<td ng-if="reportId === 3">{{report.absoluteEosinophil}}</td>
										<td ng-if="reportId === 3">{{report.absoluteBasophil}}</td>
										<td ng-if="reportId === 3">{{report.absoluteMetamyelocytes}}</td>
										<td ng-if="reportId === 3">{{report.absolutePromyelocytes}}</td>
										<td ng-if="reportId === 3">{{report.plateletCount}}</td>
										<td ng-if="reportId === 5">{{report.days}}</td>
										<td ng-if="reportId === 6">{{report.treatment}}</td>
										<td ng-if="reportId === 5 || reportId === 6">{{report.startDate | date:'MM/dd/yyyy'}}</td>
										<td ng-if="reportId === 5 || reportId === 6">{{report.endDate | date:'MM/dd/yyyy'}}</td>
										<td ng-if="reportId === 7">{{report.animal}}</td>
										<td ng-if="reportId === 7">{{report.sex}}</td>
										<td ng-if="reportId === 7">{{report.a01}}</td>
										<td ng-if="reportId === 7">{{report.dob | date:'MM/dd/yyyy'}}</td>
										<td ng-if="reportId === 7">{{report.weight}}</td>
										<td ng-if="reportId === 7">{{report.file}}</td>
										<td ng-if="reportId === 7">{{report.protocol}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--end .table-responsive -->
					</div>
					<!--end .card-body -->
				</div>
				<!--end .card -->
			</div>
			<!--end .col -->
		</div>
		<!--end .row -->
		<!-- END DEFAULT TABLE -->
	</div>
</section>
