<div class="card style-default-light">
	<div class="card-body">
		<form class="form">
			<div class="form-group">
				<div class="input-daterange input-group" id="demo-date-range">
					<div class="input-group-content">
						<input type="text" class="form-control" ng-model="searchEndFrom" name="start" date-time min-view="date" view="date" format="MM/dd/yyyy"
						auto-close="true">
						<label>Date range</label>
					</div>
					<span class="input-group-addon">to</span>
					<div class="input-group-content">
						<input type="text" class="form-control" ng-model="searchEndDate" name="end" date-time min-view="date" view="date" format="MM/dd/yyyy"
						auto-close="true">
						<div class="form-control-line"></div>
					</div>
					<span class="input-group-addon"></span>
					<div class="input-group-content">
						<input type="text" class="form-control" ng-model="searchStudy" name="study">
						<label>Study</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-10">
					<input type="text" class="form-control col-sm-12" ng-model="searchAnimalsList" name="searchAnimalsList">
					<label>Animals list</label>				
				</div>
				<button type="submit" class="btn btn-raised btn-primary ink-reaction">Search</button>
			</div>
		</form>
	</div>
</div>
<div>
	<table style="width:100%" id="cbcfullResultsTable" class="table table-striped table-bordered table-condensed table-hover dataTable"
	datatable="ng" dt-options="dtOptionsCbcFullResults">
		<thead>
			<tr>
				<th>Animal Id</th>
				<th>Sex</th>
				<th>Species</th>
				<th>Age</th>
				<th>Collected Date</th>
				<th class="none">A/G RATIO</th>
				<th class="none">ABSOLUTE BASOPHIL</th>
				<th class="none">ABSOLUTE EOSINOPHIL</th>
				<th class="none">ABSOLUTE LYMPHOCYTE</th>
				<th class="none">ABSOLUTE METAMYELOCYTES</th>
				<th class="none">ABSOLUTE MONOCYTE</th>
				<th class="none">ABSOLUTE NEUTROPHIL BAND</th>
				<th class="none">ABSOLUTE NEUTROPHIL SEG</th>
				<th class="none">ABSOLUTE PROMYELOCYTES</th>
				<th class="none">ALBUMIN</th>
				<th class="none">ALKALINE PHOSPHATASE</th>
				<th class="none">ANISOCYTOSIS</th>
				<th class="none">B/C RATIO</th>
				<th class="none">BASOPHIL</th>
				<th class="none">BICARBONATE</th>
				<th class="none">BUN</th>
				<th class="none">CALCIUM</th>
				<th class="none">CHLORIDE</th>
				<th class="none">CHOLESTEROL</th>
				<th class="none">CPK</th>
				<th class="none">CREATININE</th>
				<th class="none">DIRECT BILIRUBIN</th>
				<th class="none">EOSINOPHIL</th>
				<th class="none">GLOBULIN</th>
				<th class="none">GLUCOSE</th>
				<th class="none">HCT</th>
				<th class="none">HEINZ BODIES</th>
				<th class="none">HEMOLYSIS INDEX</th>
				<th class="none">HGB</th>
				<th class="none">INDIRECT BILIRUBIN</th>
				<th class="none">LIPEMIA INDEX</th>
				<th class="none">LYMPHOCYTE</th>
				<th class="none">MCH</th>
				<th class="none">MCHC</th>
				<th class="none">MCV</th>
				<th class="none">METAMYELOCYTE</th>
				<th class="none">MONOCYTE</th>
				<th class="none">MYELOCYTE</th>
				<th class="none">NA/K RATIO</th>
				<th class="none">NEUTROPHIL BAND</th>
				<th class="none">NEUTROPHIL SEG</th>
				<th class="none">NRBC</th>
				<th class="none">PHOSPHORUS</th>
				<th class="none">PLATELET COUNT</th>
				<th class="none">PLATELET ESTIMATE</th>
				<th class="none">POIKILOCYTOSIS</th>
				<th class="none">POLYCHROMASIA</th>
				<th class="none">POTASSIUM</th>
				<th class="none">PROMYELOCYTE</th>
				<th class="none">RBC</th>
				<th class="none">REMARKS</th>
				<th class="none">SGOT (AST)</th>
				<th class="none">SGPT (ALT)</th>
				<th class="none">SODIUM</th>
				<th class="none">TOTAL BILIRUBIN</th>
				<th class="none">TOTAL PROTEIN</th>
				<th class="none">WBC</th>
			</tr>
		</thead>		
		<tbody>
			<tr ng-repeat="test in allTestResults">
				<td>{{test.animalId.animalId}}</td>
				<td>{{test.sex}}</td>
				<td>{{test.species}}</td>
				<td>{{test.age}}</td>
				<td>{{test.collectedDate | date : 'MM/dd/yyyy'}}</td>
				<td>{{test.agRatio}}</td>
				<td>{{test.absoluteBasophil}}</td>
				<td>{{test.absoluteEosinophil}}</td>
				<td>{{test.absoluteLymphocyte}}</td>
				<td>{{test.absoluteMetamyelocytes}}</td>
				<td>{{test.absoluteMonocyte}}</td>
				<td>{{test.absoluteNeutrophilBand}}</td>
				<td>{{test.absoluteNeutrophilSeg}}</td>
				<td>{{test.absolutePromyelocytes}}</td>
				<td>{{test.albumin}}</td>
				<td>{{test.alkalinePhosphatase}}</td>
				<td>{{test.anisocytosis}}</td>
				<td>{{test.bcRatio}}</td>
				<td>{{test.basophil}}</td>
				<td>{{test.bicarbonate}}</td>
				<td>{{test.bun}}</td>
				<td>{{test.calcium}}</td>
				<td>{{test.chloride}}</td>
				<td>{{test.cholesterol}}</td>
				<td>{{test.cpk}}</td>
				<td>{{test.creatinine}}</td>
				<td>{{test.directBilirubin}}</td>
				<td>{{test.eosinophil}}</td>
				<td>{{test.globulin}}</td>
				<td>{{test.glucose}}</td>
				<td>{{test.hct}}</td>
				<td>{{test.heinzBodies}}</td>
				<td>{{test.hemolysisIndex}}</td>
				<td>{{test.hgb}}</td>
				<td>{{test.indirectBilirubin}}</td>
				<td>{{test.lipemiaIndex}}</td>
				<td>{{test.lymphocyte}}</td>
				<td>{{test.mch}}</td>
				<td>{{test.mchc}}</td>
				<td>{{test.mcv}}</td>
				<td>{{test.metamyelocyte}}</td>
				<td>{{test.monocyte}}</td>
				<td>{{test.myelocyte}}</td>
				<td>{{test.nakRatio}}</td>
				<td>{{test.neutrophilBand}}</td>
				<td>{{test.neutrophilSeg}}</td>
				<td>{{test.nrbc}}</td>
				<td>{{test.phosphorus}}</td>
				<td>{{test.plateletCount}}</td>
				<td>{{test.plateletEstimate}}</td>
				<td>{{test.poikilocytosis}}</td>
				<td>{{test.polychromasia}}</td>
				<td>{{test.potassium}}</td>
				<td>{{test.promyelocyte}}</td>
				<td>{{test.rbc}}</td>
				<td>{{test.remarks}}</td>
				<td>{{test.sgot}}</td>
				<td>{{test.sgpt}}</td>
				<td>{{test.sodium}}</td>
				<td>{{test.totalBilirubin}}</td>
				<td>{{test.totalProtein}}</td>
				<td>{{test.wbc}}</td>
			</tr>
		</tbody>
	</table>
</div>