<div class="col-md-12" ng-controller="ProcedureDetailsCtrl">
    <toaster-container toaster-options="{'body-output-type':'trustedHtml'}"></toaster-container>
    <div class="section-header">
        <ol class="breadcrumb">
            <li class="active">Clinical Procedure Details</li>
        </ol>
    </div>
    <div class="section-body contain-lg">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-head style-primary-light">
                        <div class="tools">
                            <a class="btn btn-flat hidden-xs" ui-sref="procedure-list"><span class="glyphicon glyphicon-arrow-left"></span> &nbsp;Back to list</a>
                        </div>
                        <ul class="nav nav-tabs tabs-text-contrast tabs-info" data-toggle="tabs" ui-tabs>
                            <li class="active">
                                <a href="#details" ng-click="selectedTab = 'DETAILS'">Details</a>
                            </li>
                            <li>
                                <a href="#animals" ng-click="selectedTab = 'ANIMALS';">Animals</a>
                            </li>
                            <li>
                                <a href="#schedules" ng-click="selectedTab = 'SCHEDULES';renderCalendar();">Schedule</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body tab-content">
                        <div id="details" class="tab-pane active">
                            <div ng-show="detailsEditable">
                                <form class="form" name="procedureForm" novalidate ng-submit="saveProcedureInformation()">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group floating-label">
                                        <select class="form-control" id="procedureType" floating-input="" name="procedureType" ng-model="clinicalProcedure.procedureType" required>
                                            <option value=""></option>
                                            <option ng-repeat="type in procedureConstantValues | filter:{name:'procedure.type.clinical'}" value="{{type.value}}" ng-selected="clinicalProcedure.procedureType === type.value">{{type.value}}</option>
                                        </select>
                                        <label for="procedureType">Procedure Type</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group floating-label">
                                        <select class="form-control" id="vetTecUsers" floating-input="" name="vetTecUsers" ng-model="clinicalProcedure.procVetTechnician" required>
                                            <option value=""></option>
                                            <option ng-repeat="user in vetUsers" value="{{user.id}}">{{user.firstName}} {{user.lastName}}</option>
                                        </select>
                                        <label for="vetTecUsers">Vet Technician</label>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="clinicalProcedure.procedureType === 'TREATMENT'">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group floating-label">
                                            <select class="form-control" id="genericName" floating-input="" name="genericName" ng-model="clinicalProcedure.treatment.genericName" required ng-change="changeConstantValues('genericname');">
                                                <option value=""></option>
                                                <option ng-repeat="type in procedureConstantValues | filter:{name:'procedure.treatment.genericname'}:true" value="{{type.value}}" ng-selected="clinicalProcedure.treatment.genericName === type.value">{{type.value}}</option>
                                            </select>
                                            <label for="genericName">Generic Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="form-group">                                                
                                                <div class="col-sm-12">
                                                    <p class="form-control-static"><label class="col-sm-4 control-label">Concentration</label> {{clinicalProcedure.treatment.concentration}} {{clinicalProcedure.treatment.concentrationUnit}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <p class="form-control-static">
                                                <label class="col-sm-4 control-label">Dosage</label> {{clinicalProcedure.treatment.dosage}} {{clinicalProcedure.treatment.dosageUnit}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group floating-label">
                                            <select class="form-control" id="treatmentRoute" floating-input="" name="treatmentRoute" ng-model="clinicalProcedure.treatment.route" ng-change="changeConstantValues('route');">
                                                <option value=""></option>
                                                <option ng-repeat="type in routeValues" value="{{type.value}}" ng-selected="clinicalProcedure.treatment.route === type.value">{{type.value}}</option>
                                            </select>
                                            <label for="treatmentRoute">Route</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group floating-label">
                                            <select class="form-control" id="treatmentFrequency" floating-input="" name="treatmentFrequency" ng-model="clinicalProcedure.treatment.frequency">
                                                <option value=""></option>
                                                <option ng-repeat="type in frequencyValues" value="{{type.value}}" ng-selected="clinicalProcedure.treatment.frequency === type.value">{{type.value}}</option>
                                            </select>
                                            <label for="treatmentFrequency">Frequency</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group floating-label">
                                            <input class="form-control" id="treatmentNotes" name="treatmentNotes" floating-input="" ng-model="clinicalProcedure.treatment.notes" />
                                            <label for="treatmentNotes">Notes</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-actionbar">
                                <div class="card-actionbar-row">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                                <!--end .card-actionbar-row -->
                            </div>
                        </form>
                            </div>
                            <div ng-hide="detailsEditable" class="form-horizontal">
                                <div class="row" ng-show="isVetDoc && clinicalProcedure.id && clinicalProcedure.id !== 0 && clinicalProcedure.status === 'CREATED'">
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-primary hidden-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Action <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu text-left">
                                            <li><a ng-click="changeProcedureStatus('ACTIVE')">Activate</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Procedure Type</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{clinicalProcedure.procedureType}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Vet Technician</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{clinicalProcedure.vetTechnician.firstName}} {{clinicalProcedure.vetTechnician.lastName}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="clinicalProcedure.procedureType === 'TREATMENT'">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Generic Name</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">{{clinicalProcedure.treatment.genericName}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Concentration</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">{{clinicalProcedure.treatment.concentration}} {{clinicalProcedure.treatment.concentrationUnit}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Dosage</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">{{clinicalProcedure.treatment.dosage}} {{clinicalProcedure.treatment.dosageUnit}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Route</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">{{clinicalProcedure.treatment.route}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Frequency</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">{{clinicalProcedure.treatment.frequency}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="col-sm-4 col-md-1 control-label">Notes</label>
                                                <div class="col-sm-8 col-md-11">
                                                    <p class="form-control-static">{{clinicalProcedure.treatment.notes}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-actionbar" ng-show="isVetDoc">
                                    <div class="card-actionbar-row">
                                        <button type="submit" class="btn btn-primary" ng-click="detailsEditable = true;">Edit</button>
                                    </div>
                                    <!--end .card-actionbar-row -->
                                </div>
                            </div>
                        </div>
                        <div id="animals" class="tab-pane">
                            <div class="margin-bottom-xxl">
                                <h3 class="text-light no-margin">Animal List</h3>
                                <div class="btn-group stick-top-right">
                                    <div class="row" ng-show="isVetDoc">
                                        <div class="col-md-4" ng-hide="procAnimals">
                                            <a ng-click="assignAnimalsToProcedure();" class="btn btn-primary" style="margin-top:15px;margin-right:5px">Add</a>
                                        </div>
                                        <div class="col-md-4" ng-hide="procAnimals">
                                            <a ng-click="procAnimals = true;" class="btn btn-default" style="margin-top:15px;margin-right:5px">Cancel</a>
                                        </div>
                                        <div class="col-md-4" ng-show="procAnimals">
                                            <a ng-click="showUnassignedAnimals();" class="btn btn-primary" style="margin-top:15px;margin-right:5px">Assign Animal</a>
                                        </div>
                                    </div>
                                </div>
                                <div ng-hide="procAnimals">
                                    <table class="table table-striped table-condensed" st-table="unassignedAnimalsSafe" st-safe-src="unassignedAnimals">
                                        <thead>
                                            <tr>
                                                <td>
                                                    <input type="checkbox" ng-model="studyUnassignedAnimalsSelected" ng-change="selectAllAnimals(studyUnassignedAnimalsSelected, unassignedAnimalsSafe)" />
                                                </td>
                                                <th class="st-sort" st-sort="animalId">Animal Id</th>
                                                <th class="st-sort" st-sort="species">Species</th>
                                                <th class="st-sort" st-sort="sex">Sex</th>
                                                <th class="st-sort" st-sort="client">Client</th>
                                                <th class="st-sort" st-sort="contractNumber">Contract No.</th>
                                                <th class="st-sort" st-sort="status">Status</th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th>
                                                    <input st-search="animalId" placeholder="search for Animal Id" class="input-sm form-control" type="search" />
                                                </th>
                                                <!--<th>
                                                    <input st-search="oldId" placeholder="search for Old Id" class="input-sm form-control" type="search" />
                                                </th>-->
                                                <th>
                                                    <select class="input-sm form-control" st-search="species">
                                                        <option value="">Seearch Species</option>
                                                        <option ng-repeat="item in allSpecies" value="{{item}}">{{item}}</option>
                                                    </select>
                                                </th>
                                                <th>
                                                    <select class="input-sm form-control" st-search="sex">
                                                        <option value="">Search Sex</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                    </select>
                                                </th>
                                                <th>
                                                    <input st-search="client" placeholder="search for Client" class="input-sm form-control" type="search" />
                                                </th>
                                                <th>
                                                    <input st-search="contractNumber" placeholder="search for Contract Number" class="input-sm form-control" type="search" />
                                                </th>
                                                <th>
                                                    <input st-search="status" placeholder="search for Status" class="input-sm form-control" type="search" />
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="animal in filteredAnimals = (unassignedAnimalsSafe | filter:checkAnimalExistsinProcedure)">
                                                <td>
                                                    <input type="checkbox" ng-model="animal.selected">
                                                </td>
                                                <td>{{animal.animalId}}</td>
                                                <!--<td class="ng-binding">{{animal.oldId}}</td>-->
                                                <td>{{animal.species}}</td>
                                                <td>{{animal.sex}}</td>
                                                <td>{{animal.client}}</td>
                                                <td>{{animal.contractNumber}}</td>
                                                <td>{{animal.status}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div ng-show="procAnimals">
                                    <table class="table table-striped table-condensed" st-table="procedureAssignedAnimals" st-safe-src="clinicalProcedure.animals">
                                        <thead>
                                            <tr>
                                                <th st-sort="animalId">Animal Id</th>
                                                <th st-sort="species">Species</th>
                                                <th st-sort="sex">Sex</th>
                                                <th st-sort="client">Client</th>
                                                <th st-sort="contractNumber">Contract No.</th>
                                                <th st-sort="status">Status</th>
                                                <th class="text-right col-sm-1">Remove</th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <input st-search="animalId" placeholder="search for Animal Id" class="input-sm form-control" type="search" />
                                                </th>
                                                <th>
                                                    <select class="input-sm form-control" st-search="species">
                                                        <option value="">Search Species</option>
                                                        <option ng-repeat="item in allSpecies" value="{{item}}">{{item}}</option>
                                                    </select>
                                                </th>
                                                <th>
                                                    <select class="input-sm form-control" st-search="sex">
                                                        <option value="">Search Sex</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                    </select>
                                                </th>
                                                <th>
                                                    <input st-search="client" placeholder="search for Client" class="input-sm form-control" type="search" />
                                                </th>
                                                <th>
                                                    <input st-search="contractNumber" placeholder="search for Contract Number" class="input-sm form-control" type="search" />
                                                </th>
                                                <th>
                                                    <input st-search="status" placeholder="search for Status" class="input-sm form-control" type="search" />
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="animal in procedureAssignedAnimals">
                                                <td><a class="btn ink-reaction btn-flat btn-xs btn-primary" href="">{{animal.animalId}}</a></td>
                                                <td>{{animal.species}}</td>
                                                <td>{{animal.sex}}</td>
                                                <td>{{animal.client}}</td>
                                                <td>{{animal.contractNumber}}</td>
                                                <td>{{animal.status}}</td>
                                                <td class="text-right">
                                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete row" ng-click="unassignAnimalsFromProcedure(animal.id)"><i class="fa fa-trash-o"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="schedules" class="tab-pane">
                            <div class="card">
                                <div class="card-head style-primary">
                                    <header>
                                        <span class="selected-day">{{selectedDay}}</span>
                                    </header>
                                    <div class="tools">
                                        <div class="btn-group" ng-show="scheduleCalendarView">
                                            <a id="calender-prev" class="btn ink-reaction" ng-click="changeView('month', 'procedureCalendar')">Month</a>
                                            <a id="calender-prev" class="btn ink-reaction" ng-click="changeView('agendaWeek', 'procedureCalendar')">Week</a>
                                            <a id="calender-next" class="btn ink-reaction" ng-click="changeView('agendaDay', 'procedureCalendar')">Day</a>
                                            <a id="calender-prev" class="btn btn-icon-toggle ink-reaction" ng-click="prevDay('procedureCalendar')"><i class="fa fa-angle-left"></i></a>
                                            <a id="calender-next" class="btn btn-icon-toggle ink-reaction" ng-click="nextDay('procedureCalendar')"><i class="fa fa-angle-right"></i></a>
                                            <a id="procedure-list" class="btn btn-icon-toggle ink-reaction" ng-click="showScheduleListView()"><i class="fa fa-bars"></i></a>
                                        </div>
                                        <div class="btn-group" ng-hide="scheduleCalendarView">
                                            <a id="calender-view" class="btn btn-icon-toggle ink-reaction" ng-click="showScheduleCalendarView()"><i class="fa fa-calendar"></i></a>
                                        </div>
                                        <div class="btn-group pull-right">
                                        </div>
                                    </div>
                                </div>
                                <!--end .card-head -->
                                <div class="card-body no-padding" ng-show="scheduleCalendarView">
                                    <div ui-calendar="uiConfig.calendar" ng-model="procedureSource" calendar="procedureCalendar"></div>
                                </div>
                                <div class="card-body no-padding" ng-hide="scheduleCalendarView">
                                    <ul class="list divider-full-bleed">
                                        <li class="tile" ng-repeat="procSchedule in clinicalProcedure.procedureSchedules">
                                            <a class="tile-content ink-reaction">
                                                <div class="tile-text"><i class="fa fa-calendar-o"></i> {{convertUtcDate(procSchedule.scheduleDate,'MM/DD/YYYY')}} <i class="fa fa-clock-o" style="margin-left:20px"></i> {{convertUtcDate(procSchedule.scheduleDate,'HH:mm')}}</div>
                                            </a>
                                            <a class="btn btn-flat ink-reaction">
                                                <span class="badge">{{procSchedule.status}}</span>
                                            </a>
                                            <a class="btn btn-flat ink-reaction" ng-click="deleteSchedule(procSchedule.id)" ng-show="isVetDoc">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>