<section ng-controller="StudyListCtrl">
	<toaster-container toaster-options="{'bodyOutputType':'trustedHtml'}"></toaster-container>
	<div class="section-header">
		<ol class="breadcrumb">
			<li class="active">Study Management</li>
		</ol>
	</div>
	<div class="section-body contain-lg">
		<!-- BEGIN DEFAULT TABLE -->
		<div class="row">
			<div class="col-md-12">
				<div class="card style-primary-light">
					<div class="card-head">
						<div class="tools" ng-if="isPI || isRes">
							<div class="btn-group">
								<a class="btn btn-floating-action btn-default-light ink-reaction" ui-sref="studyDetails({id:0})" ng-show="canCreate"><i class="md md-add"></i></a>
							</div>
						</div>
					</div>
					<div class="card-body style-default-bright">
						<div class="table-responsive">
							<table id="studyList" class="table table-striped table-hover dataTable no-footer" role="grid" datatable="ng" dt-options="dtOptions">
								<thead>
									<tr role="row">
                                        <th>Study Number</th>
										<th>Study Name</th>
										<th>Charge Code</th>
                                        <th>Protocol Proposal Number</th>
										<th>PI</th>
										<th>Creation Date</th>
										<th>Closed Date</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="study in studyList">
                                        <td><a class="text-primary" ui-sref="studyDetails({id:study.id})">{{study.id || '' | zpad:4}}</a></td>
										<td title="{{study.name}}">{{study.name | limitTo : 30}}</td>
										<td>{{study.chargeCode}}</td>
                                        <td>{{study.protocol.proposalNumber}}</td>
										<td>{{study.protocol.piUser.firstName}} {{study.protocol.piUser.lastName}}</td>
										<td>{{study.createDate | date:'MM/dd/yyyy'}}</td>
										<td>{{study.closedDate | date:'MM/dd/yyyy'}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--end .table-responsive -->
					</div>
					<!--end .card-body -->
				</div>
				<!--end .card -->
			</div>
			<!--end .col -->
		</div>
		<!--end .row -->
		<!-- END DEFAULT TABLE -->
	</div>
	<!--end .section-body -->
</section>
