<div ng-controller="DashboardCtrl">
    <toaster-container toaster-options="{'body-output-type':'trustedHtml'}"></toaster-container>
    <section>
        <div class="section-body">
            <div class="row" ng-if="!isTechnician">
                <!-- BEGIN ALERT - REVENUE -->
                <div class="col-md-6 col-xs-12">
                    <div class="card">
                        <div class="card-body no-padding">
                            <div class="alert alert-callout alert-success no-margin">
                                <h1 class="pull-right text-success">{{allProtocols.length}}</h1>
                                <strong class="text-xl"><a ui-sref="protocol-list">All</a></strong>
                                <br>
                                <a ui-sref="protocol-list" class="opacity-50">Protocols</a>
                            </div>
                        </div>
                        <!--end .card-body -->
                    </div>
                </div>
                <!--end .col -->
                <div class="col-md-6 col-xs-12">
                    <div class="card">
                        <div class="card-body no-padding">
                            <div class="alert alert-callout alert-warning no-margin">
                                <h1 class="pull-right text-warning">{{(protocols  | filter:{status: filterCriteria}:filterCriteriaSpecific).length}}</h1>
                                <strong class="text-xl"><a ui-sref="protocol-list">Assigned to me</a></strong>
                                <br>
                                <a ui-sref="protocol-list" class="opacity-50">Protocols</a>
                            </div>
                        </div>
                        <!--end .card-body -->
                    </div>
                </div>
                <!--end .col -->
            </div>
            <div class="row" ng-if="isTechnician">
                <div class="col-md-7 col-sm-12">
                    <div class="card">
                        <div class="card-head style-primary">
                            <header>
                                <span class="selected-day">{{calendarView ? selectedDay : 'Schedules'}}</span>
                            </header>
                            <div class="tools">
                                <div class="btn-group" ng-show="calendarView">
                                    <a id="calender-prev" class="btn ink-reaction" ng-click="changeView('month', 'procedureCalendar')">Month</a>
                                    <a id="calender-prev" class="btn ink-reaction" ng-click="changeView('agendaWeek', 'procedureCalendar')">Week</a>
                                    <a id="calender-next" class="btn ink-reaction" ng-click="changeView('agendaDay', 'procedureCalendar')">Day</a>
                                    <a id="calender-prev" class="btn btn-icon-toggle ink-reaction" ng-click="prevDay('procedureCalendar')"><i class="fa fa-angle-left"></i></a>
                                    <a id="calender-next" class="btn btn-icon-toggle ink-reaction" ng-click="nextDay('procedureCalendar')"><i class="fa fa-angle-right"></i></a>
                                    <a id="procedure-list" class="btn btn-icon-toggle ink-reaction" ng-click="showProcedureList()"><i class="fa fa-bars"></i></a>
                                </div>
                                <div class="btn-group" ng-hide="calendarView">
                                    <a id="calender-view" class="btn btn-icon-toggle ink-reaction" ng-click="showCalendarView()"><i class="fa fa-calendar"></i></a>
                                </div>
                                <div class="btn-group pull-right">
                                </div>
                            </div>
                        </div>
                        <!--end .card-head -->
                        <div class="card-body no-padding" ng-show="calendarView">
                            <div ui-calendar="uiConfig.calendar" ng-model="procedureSource" calendar="procedureCalendar"></div>
                        </div>

                        <div class="card-body no-padding" ng-hide="calendarView">
                            <!--<ul class="list divider-full-bleed">
                                <li class="tile" ng-repeat="procSchedule in procedureSchedules">
                                    <a class="tile-content ink-reaction" ui-sref="procedureDetails({ id: procSchedule.id })">
                                        <div class="tile-text"><i class="fa fa-calendar-o"></i> {{procSchedule.scheduleDate | date:'MM/dd/yyyy'}} <i class="fa fa-clock-o" style="margin-left:20px"></i> {{procSchedule.scheduleDate | date:'HH:mm'}}</div>
                                    </a>
                                    <a class="btn btn-flat ink-reaction">
                                        <span class="badge">{{procSchedule.status}}</span>
                                    </a>
                                </li>
                            </ul>-->
                            <div class="table-responsive">
                                <table class="table table-hover" st-table="filterProcedureSchedules" st-safe-src="procedureSchedules">
                                    <thead>
                                        <tr>
                                            <th st-sort="studyName" class="st-sort">Study</th>
                                            <th st-sort="procedureId" class="st-sort">Procedure Id</th>
                                            <th st-sort="procedureType" class="st-sort">Procedure Type</th>
                                            <!--<th st-sort="tubeType" class="st-sort">Tube Type</th>
                                            <th st-sort="quantity" class="st-sort">Quantity</th>
                                            <th st-sort="unit" class="st-sort">Unit</th>-->
                                            <th st-sort="scheduleDate" class="st-sort col-sm-3">Schedule Time</th>
                                            <th st-sort="status" class="st-sort">Status</th>
                                            <th ng-show="isPI || isRes"></th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <input st-search="studyName" placeholder="" class="input-sm form-control" type="search" />
                                            </th>
                                            <th>
                                                <input st-search="procedureId" placeholder="" class="input-sm form-control" type="search" />
                                            </th>
                                            <th>
                                                <input st-search="procedureType" placeholder="" class="input-sm form-control" type="search" />
                                            </th>
                                            <!--<th>
                                                <input st-search="tubeType" placeholder="search for Tube Type" class="input-sm form-control" type="search" />
                                            </th>
                                            <th>
                                                <input st-search="quantity" placeholder="search for Quantity" class="input-sm form-control" type="search" />
                                            </th>
                                            <th>
                                                <input st-search="unit" placeholder="search for Unit" class="input-sm form-control" type="search" />
                                            </th>-->
                                            <th>
                                                <input st-search="scheduleDate" placeholder="" class="input-sm form-control" type="search" />
                                            </th>
                                            <th>
                                                <input st-search="status" placeholder="" class="input-sm form-control" type="search" />
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="procSchedule in filterProcedureSchedules | filter: activeSchedules">
                                            <td>{{procSchedule.studyName}}</td>
                                            <td>{{procSchedule.procedureId}}</td>
                                            <td>{{procSchedule.procedureType}}</td>
                                            <!--<td>{{procSchedule.tubeType}}</td>
                                            <td>{{procSchedule.quantity}}</td>
                                            <td>{{procSchedule.unit}}</td>-->
                                            <td>
                                                <a ui-sref="scheduledetails({ id: procSchedule.scheduleId,time:procSchedule.scheduleDate })" class="text-primary">
                                                    <i class="fa fa-calendar-o"></i> {{convertUtcDate(procSchedule.scheduleDate,'MM/DD/YYYY')}} <br /><i class="fa fa-clock-o"></i> {{convertUtcDate(procSchedule.scheduleDate,'HH:mm')}}
                                                </a>
                                            </td>
                                            <td>{{procSchedule.status}}</td>
                                            <td class="text-right" ng-show="isPI || isRes">
                                                <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete row" ng-click="deleteSchedule(procSchedule.id)"><i class="fa fa-trash-o"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="card">
                                <div class="card-body no-padding">
                                    <div class="alert alert-callout alert-warning no-margin">
                                        <h1 class="pull-right text-warning">{{procedureSourceList.length}}</h1>
                                        <strong class="text-xl"><a ui-sref="dashboard">Assigned to me</a></strong>
                                        <br>
                                        <a ui-sref="protocol-list" class="opacity-50">Procedures</a>
                                    </div>
                                </div>
                                <!--end .card-body -->
                            </div>
                        </div>
                        <!--end .col -->
                    </div>
                </div>
            </div>
        </div>
        <!--end .section-body -->
    </section>
</div>
